if(main)
	header
		.header.pv-16
			.container
				.header-block
					.header-main
						a(href="#").header-burger
							span.header-burger__line
							span.header-burger__lineX
							span.header-burger__line
						.mobile-menu
							.mobile-menu__close
								img(src="img/menu-close.png", alt="")
							ul
								li
									a(href="#advantages") Преимущества
								li
									a(href="#products") Товары
								li
									a(href="#articles") Статьи
								li
									a(href="#partners") Партнеры
								li
									a(href="#gallery") Галерея
								li
									a(href="./wholesaler.html") Оптовикам
							.mobile-menu__contacts
								.header-city
									span.header-icons.mr-4
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M2.89986 2.30005L21.7049 8.56805C21.8022 8.60031 21.8873 8.66172 21.9485 8.74395C22.0098 8.82618 22.0443 8.92526 22.0473 9.02775C22.0504 9.13025 22.0218 9.23121 21.9656 9.31694C21.9093 9.40268 21.8281 9.46904 21.7329 9.50705L12.9999 13L8.57486 21.85C8.52983 21.9402 8.45863 22.0146 8.37058 22.0635C8.28254 22.1125 8.18176 22.1337 8.08145 22.1244C7.98113 22.1151 7.88597 22.0758 7.80842 22.0114C7.73087 21.9471 7.67456 21.8609 7.64686 21.764L2.25986 2.91105C2.2349 2.82346 2.23435 2.73073 2.25824 2.64285C2.28214 2.55497 2.32959 2.47528 2.39546 2.4124C2.46133 2.34951 2.54313 2.30581 2.63202 2.28601C2.72091 2.26621 2.81352 2.27106 2.89986 2.30005Z" fill="#D0D0D0"/>
										</svg>
									span Барнаул
								a(href="#").header-phone
									span.header-icons.mr-4
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M21 16.42V19.956C21.0001 20.2092 20.9042 20.453 20.7316 20.6382C20.559 20.8234 20.3226 20.9363 20.07 20.954C19.633 20.984 19.276 21 19 21C10.163 21 3 13.837 3 5C3 4.724 3.015 4.367 3.046 3.93C3.06372 3.67744 3.17658 3.44101 3.3618 3.26841C3.54703 3.09581 3.79082 2.99989 4.044 3H7.58C7.70404 2.99987 7.8237 3.04586 7.91573 3.12902C8.00776 3.21218 8.0656 3.32658 8.078 3.45C8.101 3.68 8.122 3.863 8.142 4.002C8.34073 5.38892 8.748 6.73783 9.35 8.003C9.445 8.203 9.383 8.442 9.203 8.57L7.045 10.112C8.36445 13.1865 10.8145 15.6365 13.889 16.956L15.429 14.802C15.4919 14.714 15.5838 14.6509 15.6885 14.6237C15.7932 14.5964 15.9042 14.6068 16.002 14.653C17.267 15.2539 18.6156 15.6601 20.002 15.858C20.141 15.878 20.324 15.9 20.552 15.922C20.6752 15.9346 20.7894 15.9926 20.8724 16.0846C20.9553 16.1766 21.0012 16.2961 21.001 16.42H21Z" fill="#D0D0D0"/>
										</svg>
									span 8 (800) 700-08-34
								a(href="#").header-mail
									span.header-icons.mr-4
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<path d="M17.803 9.493C18.795 9.97613 19.9186 10.1192 21 9.9V21C21 21.2652 20.8946 21.5196 20.7071 21.7071C20.5196 21.8946 20.2652 22 20 22H2C1.73478 22 1.48043 21.8946 1.29289 21.7071C1.10536 21.5196 1 21.2652 1 21V5C1 4.73478 1.10536 4.48043 1.29289 4.29289C1.48043 4.10536 1.73478 4 2 4H15.1C15.034 4.323 15 4.658 15 5C14.9983 6.18805 15.4215 7.33756 16.193 8.241L11.061 12.683L4.647 7.238L3.353 8.762L11.073 15.317L17.803 9.493ZM20 8C19.606 8 19.2159 7.9224 18.8519 7.77164C18.488 7.62087 18.1573 7.3999 17.8787 7.12132C17.6001 6.84274 17.3791 6.51203 17.2284 6.14805C17.0776 5.78407 17 5.39397 17 5C17 4.60603 17.0776 4.21593 17.2284 3.85195C17.3791 3.48797 17.6001 3.15726 17.8787 2.87868C18.1573 2.6001 18.488 2.37913 18.8519 2.22836C19.2159 2.0776 19.606 2 20 2C20.7956 2 21.5587 2.31607 22.1213 2.87868C22.6839 3.44129 23 4.20435 23 5C23 5.79565 22.6839 6.55871 22.1213 7.12132C21.5587 7.68393 20.7956 8 20 8Z" fill="#D0D0D0"/>
										</svg>
									span shop@greentest.com
						a(href="#").header-logo.pr-32
							img(src="img/logo.png", alt="")
						.header-contacts.pl-32
							.header-city.mr-32
								span.header-icons.mr-4
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M2.89986 2.30005L21.7049 8.56805C21.8022 8.60031 21.8873 8.66172 21.9485 8.74395C22.0098 8.82618 22.0443 8.92526 22.0473 9.02775C22.0504 9.13025 22.0218 9.23121 21.9656 9.31694C21.9093 9.40268 21.8281 9.46904 21.7329 9.50705L12.9999 13L8.57486 21.85C8.52983 21.9402 8.45863 22.0146 8.37058 22.0635C8.28254 22.1125 8.18176 22.1337 8.08145 22.1244C7.98113 22.1151 7.88597 22.0758 7.80842 22.0114C7.73087 21.9471 7.67456 21.8609 7.64686 21.764L2.25986 2.91105C2.2349 2.82346 2.23435 2.73073 2.25824 2.64285C2.28214 2.55497 2.32959 2.47528 2.39546 2.4124C2.46133 2.34951 2.54313 2.30581 2.63202 2.28601C2.72091 2.26621 2.81352 2.27106 2.89986 2.30005Z" fill="#D0D0D0"/>
									</svg>
								span Барнаул
							a(href="#").header-phone.mr-32
								span.header-icons.mr-4
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M21 16.42V19.956C21.0001 20.2092 20.9042 20.453 20.7316 20.6382C20.559 20.8234 20.3226 20.9363 20.07 20.954C19.633 20.984 19.276 21 19 21C10.163 21 3 13.837 3 5C3 4.724 3.015 4.367 3.046 3.93C3.06372 3.67744 3.17658 3.44101 3.3618 3.26841C3.54703 3.09581 3.79082 2.99989 4.044 3H7.58C7.70404 2.99987 7.8237 3.04586 7.91573 3.12902C8.00776 3.21218 8.0656 3.32658 8.078 3.45C8.101 3.68 8.122 3.863 8.142 4.002C8.34073 5.38892 8.748 6.73783 9.35 8.003C9.445 8.203 9.383 8.442 9.203 8.57L7.045 10.112C8.36445 13.1865 10.8145 15.6365 13.889 16.956L15.429 14.802C15.4919 14.714 15.5838 14.6509 15.6885 14.6237C15.7932 14.5964 15.9042 14.6068 16.002 14.653C17.267 15.2539 18.6156 15.6601 20.002 15.858C20.141 15.878 20.324 15.9 20.552 15.922C20.6752 15.9346 20.7894 15.9926 20.8724 16.0846C20.9553 16.1766 21.0012 16.2961 21.001 16.42H21Z" fill="#D0D0D0"/>
									</svg>
								span 8 (800) 700-08-34
							a(href="#").header-mail
								span.header-icons.mr-4
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<path d="M17.803 9.493C18.795 9.97613 19.9186 10.1192 21 9.9V21C21 21.2652 20.8946 21.5196 20.7071 21.7071C20.5196 21.8946 20.2652 22 20 22H2C1.73478 22 1.48043 21.8946 1.29289 21.7071C1.10536 21.5196 1 21.2652 1 21V5C1 4.73478 1.10536 4.48043 1.29289 4.29289C1.48043 4.10536 1.73478 4 2 4H15.1C15.034 4.323 15 4.658 15 5C14.9983 6.18805 15.4215 7.33756 16.193 8.241L11.061 12.683L4.647 7.238L3.353 8.762L11.073 15.317L17.803 9.493ZM20 8C19.606 8 19.2159 7.9224 18.8519 7.77164C18.488 7.62087 18.1573 7.3999 17.8787 7.12132C17.6001 6.84274 17.3791 6.51203 17.2284 6.14805C17.0776 5.78407 17 5.39397 17 5C17 4.60603 17.0776 4.21593 17.2284 3.85195C17.3791 3.48797 17.6001 3.15726 17.8787 2.87868C18.1573 2.6001 18.488 2.37913 18.8519 2.22836C19.2159 2.0776 19.606 2 20 2C20.7956 2 21.5587 2.31607 22.1213 2.87868C22.6839 3.44129 23 4.20435 23 5C23 5.79565 22.6839 6.55871 22.1213 7.12132C21.5587 7.68393 20.7956 8 20 8Z" fill="#D0D0D0"/>
									</svg>
								span shop@greentest.com
					.header-main
						a(data-fancybox data-src="#modal_login" href="javascript://").header-login.mr-16
							span.header-icons.mr-4
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<path d="M14.256 20.744L12 23L9.744 20.744C5.31 19.72 2 15.744 2 11C2 5.48 6.48 1 12 1C17.52 1 22 5.48 22 11C22 15.744 18.69 19.72 14.256 20.744ZM6.023 14.416C7.491 16.606 9.695 18 12.16 18C14.624 18 16.829 16.607 18.296 14.416C16.6317 12.8606 14.4379 11.9968 12.16 12C9.88171 11.9966 7.68751 12.8604 6.023 14.416ZM12 10C12.7956 10 13.5587 9.68393 14.1213 9.12132C14.6839 8.55871 15 7.79565 15 7C15 6.20435 14.6839 5.44129 14.1213 4.87868C13.5587 4.31607 12.7956 4 12 4C11.2044 4 10.4413 4.31607 9.87868 4.87868C9.31607 5.44129 9 6.20435 9 7C9 7.79565 9.31607 8.55871 9.87868 9.12132C10.4413 9.68393 11.2044 10 12 10Z" fill="#D0D0D0"/>
								</svg>
							span Вход
						a(href="#").header-basket
							span.header-icons.mr-4
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<path d="M6.5 2H17.5C17.6552 2 17.8084 2.03614 17.9472 2.10557C18.0861 2.175 18.2069 2.2758 18.3 2.4L21 6V21C21 21.2652 20.8946 21.5196 20.7071 21.7071C20.5196 21.8946 20.2652 22 20 22H4C3.73478 22 3.48043 21.8946 3.29289 21.7071C3.10536 21.5196 3 21.2652 3 21V6L5.7 2.4C5.79315 2.2758 5.91393 2.175 6.05279 2.10557C6.19164 2.03614 6.34475 2 6.5 2ZM18.5 6L17 4H7L5.5 6H18.5ZM9 10H7V12C7 13.3261 7.52678 14.5979 8.46447 15.5355C9.40215 16.4732 10.6739 17 12 17C13.3261 17 14.5979 16.4732 15.5355 15.5355C16.4732 14.5979 17 13.3261 17 12V10H15V12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12V10Z" fill="#F73859"/>
								</svg>
							span Корзина
							span.header-basket__count 22
		.navbar.pv-8
			.container
				.navbar-block
					.navbar-menu
						ul
							li.mr-32
								a(href="#advantages") Преимущества
							li.mr-32
								a(href="#products") Товары
							li.mr-32
								a(href="#articles") Статьи
							li.mr-32
								a(href="#partners") Партнеры
							li.mr-32
								a(href="#gallery") Галерея
							li
								a(href="./wholesaler.html") Оптовикам
					.navbar-promo
						input(type="text" placeholder="Введите промокод")
						a(href="#") ОК
		.navbar-fixed
			.container
				.navbar-fixed__blocks
					.navbar-fixed__block
						.navbar-fixed__image.mr-32
							img(src="img/logo-fixed.png", alt="")
						.navbar-fixed__menu
							ul
								li.mr-32
									a(href="#") Преимущества
								li.mr-32
									a(href="#") Товары
								li.mr-32
									a(href="#") Статьи
								li.mr-32
									a(href="#") Партнеры
								li.mr-32
									a(href="#") Галерея
								li.mr-32
									a(href="#") Оптовикам
					.navbar-fixed__block
						.navbar-promo
							input(type="text" placeholder="Введите промокод")
							a(href="#") ОК
						.navbar-fixed__basket
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M6.5 2H17.5C17.6552 2 17.8084 2.03614 17.9472 2.10557C18.0861 2.175 18.2069 2.2758 18.3 2.4L21 6V21C21 21.2652 20.8946 21.5196 20.7071 21.7071C20.5196 21.8946 20.2652 22 20 22H4C3.73478 22 3.48043 21.8946 3.29289 21.7071C3.10536 21.5196 3 21.2652 3 21V6L5.7 2.4C5.79315 2.2758 5.91393 2.175 6.05279 2.10557C6.19164 2.03614 6.34475 2 6.5 2ZM18.5 6L17 4H7L5.5 6H18.5ZM9 10H7V12C7 13.3261 7.52678 14.5979 8.46447 15.5355C9.40215 16.4732 10.6739 17 12 17C13.3261 17 14.5979 16.4732 15.5355 15.5355C16.4732 14.5979 17 13.3261 17 12V10H15V12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12V10Z" fill="#FFFFFF"/>
							</svg>
							span.navbar-fixed__basket-text Корзина
							span.header-basket__count 1
								
					
