extends layouts/default
block variables
	- var title = "gulp-pug-starter"
	- var main = false;

block content
	.container
		include ../blocks/modules/main/main
		ul.dadjet-page
			li
				a(href="./main.html") Главная страница
			li
				a(href="./product.html") Карточка с товаром
			li
				a(href="./wholesaler.html") Оптовым клиентам
			li
				a(href="./basket.html") Корзина
			li
				a(href="./thanks.html") Страница благодарности
			li
				a(href="./text-page.html") Текстовая страница