extends ../views/layouts/default
block variables
	- var title = "Корзина";
	- var main = true;

block content
	main
		.main
			.container
				.breadcrumbs
					a(href="#") Главная
					span Текущая страница
				.basket
					span.basket-title Корзина
					.basket-block
						.basket-main
							.basket-products
								.basket-product
									.basket-product__td.basket-product__image
										a(href="#").basket-product__image
											img(src="img/product-img3.jpg", alt="")
									.basket-product__td.basket-product__name
										.basket-product__name
											p
												span.basket-name__property Артикул:
												span.basket-name__val 7890513123
											a(href="#").basket-name__link Seek thermal reveal xr camo
									.basket-product__td.basket-product__priceM
										span.basket-product__price 2300
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
									.basket-product__td.basket-product__count
										.basket-product__availability
											button.basket-availability__minus
											input(type="text" value="0" id="availability")
											button.basket-availability__plus
									.basket-product__td.basket-product__summ
										span.basket-product__sumT Сумма:
										span.basket-product__sum 2300
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									.basket-product__td.basket-product__delete
										a(href="#").basket-product__delete
											<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
												<path d="M6.5353 1.11994e-08H21.0003C21.2655 1.11994e-08 21.5199 0.105357 21.7074 0.292893C21.8949 0.48043 22.0003 0.734784 22.0003 1V17C22.0003 17.2652 21.8949 17.5196 21.7074 17.7071C21.5199 17.8946 21.2655 18 21.0003 18H6.5353C6.37071 18 6.20865 17.9594 6.06352 17.8818C5.91838 17.8042 5.79465 17.6919 5.7033 17.555L0.370298 9.555C0.260659 9.39067 0.202148 9.19755 0.202148 9C0.202148 8.80245 0.260659 8.60933 0.370298 8.445L5.7033 0.445C5.79465 0.308084 5.91838 0.195832 6.06352 0.118205C6.20865 0.0405779 6.37071 -2.46193e-05 6.5353 1.11994e-08ZM7.0703 2L2.4043 9L7.0703 16H20.0003V2H7.0703ZM13.0003 7.586L15.8283 4.757L17.2433 6.172L14.4143 9L17.2433 11.828L15.8283 13.243L13.0003 10.414L10.1723 13.243L8.7573 11.828L11.5863 9L8.7573 6.172L10.1723 4.757L13.0003 7.586Z" fill="#F73859"/>
											</svg>
								.basket-product
									.basket-product__td.basket-product__image
										a(href="#").basket-product__image
											img(src="img/product-img3.jpg", alt="")
									.basket-product__td.basket-product__name
										.basket-product__name
											p
												span.basket-name__property Артикул:
												span.basket-name__val 7890513123
											a(href="#").basket-name__link Greentest ECO 5 GOLD
									.basket-product__td.basket-product__priceM
										span.basket-product__price 2300
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
									.basket-product__td.basket-product__count
										.basket-product__availability
											button.basket-availability__minus
											input(type="text" value="0")
											button.basket-availability__plus
									.basket-product__td.basket-product__summ
										span.basket-product__sumT Сумма:
										span.basket-product__sum 2300
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									.basket-product__td.basket-product__delete
										a(href="#").basket-product__delete
											<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
												<path d="M6.5353 1.11994e-08H21.0003C21.2655 1.11994e-08 21.5199 0.105357 21.7074 0.292893C21.8949 0.48043 22.0003 0.734784 22.0003 1V17C22.0003 17.2652 21.8949 17.5196 21.7074 17.7071C21.5199 17.8946 21.2655 18 21.0003 18H6.5353C6.37071 18 6.20865 17.9594 6.06352 17.8818C5.91838 17.8042 5.79465 17.6919 5.7033 17.555L0.370298 9.555C0.260659 9.39067 0.202148 9.19755 0.202148 9C0.202148 8.80245 0.260659 8.60933 0.370298 8.445L5.7033 0.445C5.79465 0.308084 5.91838 0.195832 6.06352 0.118205C6.20865 0.0405779 6.37071 -2.46193e-05 6.5353 1.11994e-08ZM7.0703 2L2.4043 9L7.0703 16H20.0003V2H7.0703ZM13.0003 7.586L15.8283 4.757L17.2433 6.172L14.4143 9L17.2433 11.828L15.8283 13.243L13.0003 10.414L10.1723 13.243L8.7573 11.828L11.5863 9L8.7573 6.172L10.1723 4.757L13.0003 7.586Z" fill="#F73859"/>
											</svg>
							form(action="#").basket-form
								.basket-form__block
									span.basket-form__title Ваши контактные данные
									.basket-form__boxes
										.basket-form__box
											.basket-form__input
												input(type="text" id="input_f" value="привет")
												label(for="input_f") Фамилия
											.basket-form__input
												input(type="text" id="input_n")
												label(for="input_n") Имя
											.basket-form__input
												input(type="text" id="input_o")
												label(for="input_o") Отчество
										.basket-form__box
											.basket-form__input
												input(type="text" id="input_p")
												label(for="input_p") Номер телефона без +7 или 8
											.basket-form__input
												input(type="text" id="input_e")
												label(for="input_e") E-mail
								.basket-form__pass
									span.basket-pass__title Если вы хотите отслеживать заказ, введите пароль для доступа в личный кабинет
									.basket-form__box
										.basket-form__input
											input(type="text" id="input_pass")
											label(for="input_pass") Пароль
								.basket-form__delivery
									span.basket-form__title Способ доставки
									.basket-delivery__city
										span Ваш город 
										span Москва? 
										a(href="#") Изменить
									.basket-delivery__choice
										.basket-choice
											input(type="radio" id="courier" name="choice" checked)
											label(for="courier") Курьером – бесплатно
												span Доставка: 2-3 дня
											span._description Срок - зависит от региона
											span._description Оплата на сайте или при получении
										.basket-choice
											input(type="radio" id="pickup" name="choice")
											label(for="pickup") Самовывоз из магазина – бесплатно
											span._description Срок - зависит от региона
											span._description Оплата на сайте или при получении
									.basket-delivery__address
										span.basket-delivery__title Заполните адрес доставки
										.basket-form__input
											input(type="text" id="input_address")
											label(for="input_address") Адрес доставки
										.basket-form__textarea
											textarea(id="textarea_comment")
											label(for="textarea_comment") Комментарий
								.basket-form__pay
									span.basket-form__title Способ оплаты
									.basket-choice
										input(type="radio" id="cash" name="pay" checked)
										label(for="cash") Оплата при получении наличными или банковской картой
									.basket-choice
										input(type="radio" id="credit" name="pay")
										label(for="credit") Кредит или рассрочка. Оформление в магазине
									.basket-choice
										input(type="radio" id="lawyer" name="pay")
										label(for="lawyer") Оплата по счету для юр. лиц. Заполните реквизиты для выставления счета.
									.lawyer.non-active
										.basket-form__input
											input(type="text" id="lawyer_name" class="js-lawyer")
											label(for="lawyer_name") Название организации
										.basket-form__boxes
											.basket-form__box
												.basket-form__input
													input(type="text" id="lawyer_inn" class="js-lawyer")
													label(for="lawyer_inn") ИНН
											.basket-form__box
												.basket-form__input
													input(type="text" id="lawyer_kpp" class="js-lawyer")
													label(for="lawyer_kpp") КПП
										.basket-form__input
											input(type="text" id="lawyer_address" class="js-lawyer")
											label(for="lawyer_address") Юридический адрес
										.basket-choice
											input(type="checkbox" id="lawyer_checkbox" name="choice" checked)
											label(for="lawyer_checkbox") Фактический адрес совпадает с юридическим
										.basket-form__input
											input(type="text" id="actual_address" class="js-lawyer")
											label(for="actual_address") Фактический адрес
										.basket-form__boxes
											.basket-form__box
												.basket-form__input
													input(type="text" id="lawyer_bank" class="js-lawyer")
													label(for="lawyer_bank") Банк
												.basket-form__input
													input(type="text" id="lawyer_bik" class="js-lawyer")
													label(for="lawyer_bik") БИК
											.basket-form__box
												.basket-form__input
													input(type="text" id="lawyer_rated" class="js-lawyer")
													label(for="lawyer_rated") Расчетный счет
												.basket-form__input
													input(type="text" id="lawyer_okpo" class="js-lawyer")
													label(for="lawyer_okpo") ОКПО
												.basket-form__input
													input(type="text" id="lawyer_correspondent" class="js-lawyer")
													label(for="lawyer_correspondent") Корреспондентский счет
								.basket-form__offer
									span Ваш заказ будет обработан в течение 30 минут рабочего времени (с 10:00 до 20:00 ежедневно). Если Вам не требуется звонок оператора, мы автоматически передадим заказ на доставку. Ожидайте сообщения о подтверждении заказа. Нажимая на кнопку «Оформить заказ», Вы принимаете условия 
										a(href="#") Публичной оферты.
								.basket-form__call
									.basket-choice
										input(type="radio" id="call_yes" name="call" checked)
										label(for="call_yes") Позвоните мне для подтверждения заказа
									.basket-choice
										input(type="radio" id="call_no" name="call")
										label(for="call_no") Я уверен в заказе, звонок не требуется
						.basket-total
							span.basket-total__title Информация о заказе
							.basket-total__promo
								input(type="text" placeholder="У вас есть промокод?")
								a(href="#") ОК
							p
								span.basket-total__property Стоимость товаров
								span.basket-total__val 36 000 р.
							p
								span.basket-total__property Доставка
								span.basket-total__val Курьером
							p
								span.basket-total__property Скидка
								span.basket-total__val 0 р.
							.basket-total__sum 
								span Итого: 
								span 36 000р.
							a(href="#").basket-total__btn.btn Оформить заказ
