extends ../views/layouts/default
block variables
	- var title = "Главная страница";
	- var main = true;

block content
	main
		.main
			.container
				.main-slider
					.slide
						img(src="../img/slider__img.jpg", alt="")
					.slide
						img(src="../img/slider__img.jpg", alt="")
					.slide
						img(src="../img/slider__img.jpg", alt="")
					