extends ../views/layouts/default
block variables
	- var title = "Главная страница";
	- var main = true;

block content
	main
		.main
			.main-slider
				.slide
					img(src="img/slider__img.jpg", alt="")
					.container
						.slide-box
							h2 Greentest ECO 5
							p Greentest ECO 5 – это 3-в-1! Проверяйте продукты на нитраты, измеряйте жёсткость воды и уровень радиации в вашей квартире или загородном доме.
							.slide-box__price
								span.slide-price__old 11999 
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
										<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
									</svg>
								span.slide-price__new 8900 
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
										<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
									</svg>
							a(href="#").slide-box__button.btn Купить
				.slide
					img(src="img/slider__img.jpg", alt="")
					.container
						.slide-box
							h2 Greentest ECO 5
							p Greentest ECO 5 – это 3-в-1! Проверяйте продукты на нитраты, измеряйте жёсткость воды и уровень радиации в вашей квартире или загородном доме.
							.slide-box__price
								span.slide-price__old 11999 
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
										<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
									</svg>
								span.slide-price__new 8900 
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
										<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
									</svg>
							a(href="#").slide-box__button.btn Купить
				.slide
					img(src="img/slider__img.jpg", alt="")
					.container
						.slide-box
							h2 Greentest ECO 5
							p Greentest ECO 5 – это 3-в-1! Проверяйте продукты на нитраты, измеряйте жёсткость воды и уровень радиации в вашей квартире или загородном доме.
							.slide-box__price
								span.slide-price__old 11999 
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
										<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
									</svg>
								span.slide-price__new 8900 
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
										<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
									</svg>
							a(href="#").slide-box__button.btn Купить
				.slide
					img(src="img/slider__img.jpg", alt="")
					.container
						.slide-box
							h2 Greentest ECO 5
							p Greentest ECO 5 – это 3-в-1! Проверяйте продукты на нитраты, измеряйте жёсткость воды и уровень радиации в вашей квартире или загородном доме.
							.slide-box__price
								span.slide-price__old 11999 
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
										<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
									</svg>
								span.slide-price__new 8900 
									<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
										<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
									</svg>
							a(href="#").slide-box__button.btn Купить
			.main-feautures
				.container
					.main-feautures__block
						.main-feauture
							.main-feauture__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
									<path d="M10 9.208V27.578C10 28.8949 10.3251 30.1915 10.9465 31.3526C11.5679 32.5137 12.4663 33.5034 13.562 34.234L24 41.194L34.438 34.234C35.5334 33.5036 36.4316 32.5142 37.053 31.3535C37.6744 30.1927 37.9996 28.8966 38 27.58V9.208L24 6.1L10 9.208ZM7.566 5.652L24 2L40.434 5.652C40.8781 5.75073 41.2753 5.99793 41.56 6.35281C41.8447 6.70769 41.9999 7.14903 42 7.604V27.578C41.9999 29.5535 41.512 31.4984 40.5798 33.24C39.6475 34.9817 38.2997 36.4663 36.656 37.562L24 46L11.344 37.562C9.70055 36.4665 8.35292 34.9822 7.4207 33.2409C6.48847 31.4996 6.00047 29.5551 6 27.58V7.604C6.00008 7.14903 6.15528 6.70769 6.43998 6.35281C6.72468 5.99793 7.12187 5.75073 7.566 5.652V5.652ZM24 27L18.122 30.09L19.244 23.546L14.49 18.91L21.062 17.954L24 12L26.94 17.954L33.51 18.91L28.756 23.546L29.876 30.09L24 27Z" fill="#F73859"/>
								</svg>
							span Официальный магазин
						.main-feauture
							.main-feauture__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
									<path d="M17.93 36C17.6922 37.6686 16.8604 39.1954 15.5874 40.2999C14.3143 41.4044 12.6854 42.0125 11 42.0125C9.31456 42.0125 7.68571 41.4044 6.41264 40.2999C5.13957 39.1954 4.30776 37.6686 4.07 36H2V12C2 11.4696 2.21071 10.9609 2.58579 10.5858C2.96086 10.2107 3.46957 10 4 10H32C32.5304 10 33.0391 10.2107 33.4142 10.5858C33.7893 10.9609 34 11.4696 34 12V16H40L46 24.112V36H41.93C41.6922 37.6686 40.8604 39.1954 39.5874 40.2999C38.3143 41.4044 36.6854 42.0125 35 42.0125C33.3146 42.0125 31.6857 41.4044 30.4126 40.2999C29.1396 39.1954 28.3078 37.6686 28.07 36H17.93ZM30 14H6V30.1C6.78912 29.2944 7.7612 28.6914 8.83351 28.3422C9.90581 27.9931 11.0466 27.9082 12.1588 28.0948C13.2709 28.2814 14.3215 28.7339 15.2212 29.4138C16.1209 30.0937 16.843 30.981 17.326 32H28.674C29.01 31.294 29.46 30.652 30 30.1V14ZM34 26H42V25.43L37.984 20H34V26ZM35 38C35.7959 38 36.5592 37.6838 37.122 37.121C37.6848 36.5582 38.001 35.7949 38.001 34.999C38.001 34.2031 37.6848 33.4398 37.122 32.877C36.5592 32.3142 35.7959 31.998 35 31.998C34.2041 31.998 33.4408 32.3142 32.878 32.877C32.3152 33.4398 31.999 34.2031 31.999 34.999C31.999 35.7949 32.3152 36.5582 32.878 37.121C33.4408 37.6838 34.2041 38 35 38ZM14 35C14 34.606 13.9224 34.2159 13.7716 33.8519C13.6209 33.488 13.3999 33.1573 13.1213 32.8787C12.8427 32.6001 12.512 32.3791 12.1481 32.2284C11.7841 32.0776 11.394 32 11 32C10.606 32 10.2159 32.0776 9.85195 32.2284C9.48797 32.3791 9.15726 32.6001 8.87868 32.8787C8.6001 33.1573 8.37913 33.488 8.22836 33.8519C8.0776 34.2159 8 34.606 8 35C8 35.7956 8.31607 36.5587 8.87868 37.1213C9.44129 37.6839 10.2044 38 11 38C11.7956 38 12.5587 37.6839 13.1213 37.1213C13.6839 36.5587 14 35.7956 14 35Z" fill="#F73859"/>
								</svg>
							span Быстрая доставка
						.main-feauture
							.main-feauture__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
									<path d="M6 6H42C42.5304 6 43.0391 6.21071 43.4142 6.58579C43.7893 6.96086 44 7.46957 44 8V40C44 40.5304 43.7893 41.0391 43.4142 41.4142C43.0391 41.7893 42.5304 42 42 42H6C5.46957 42 4.96086 41.7893 4.58579 41.4142C4.21071 41.0391 4 40.5304 4 40V8C4 7.46957 4.21071 6.96086 4.58579 6.58579C4.96086 6.21071 5.46957 6 6 6V6ZM40 22H8V38H40V22ZM40 18V10H8V18H40ZM28 30H36V34H28V30Z" fill="#F73859"/>
								</svg>
							span Покупка в рассрочку
						.main-feauture
							.main-feauture__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
									<path d="M44 14H46V34H44V40C44 40.5304 43.7893 41.0391 43.4142 41.4142C43.0391 41.7893 42.5304 42 42 42H6C5.46957 42 4.96086 41.7893 4.58579 41.4142C4.21071 41.0391 4 40.5304 4 40V8C4 7.46957 4.21071 6.96086 4.58579 6.58579C4.96086 6.21071 5.46957 6 6 6H42C42.5304 6 43.0391 6.21071 43.4142 6.58579C43.7893 6.96086 44 7.46957 44 8V14ZM40 34H28C25.3478 34 22.8043 32.9464 20.9289 31.0711C19.0536 29.1957 18 26.6522 18 24C18 21.3478 19.0536 18.8043 20.9289 16.9289C22.8043 15.0536 25.3478 14 28 14H40V10H8V38H40V34ZM42 30V18H28C26.4087 18 24.8826 18.6321 23.7574 19.7574C22.6321 20.8826 22 22.4087 22 24C22 25.5913 22.6321 27.1174 23.7574 28.2426C24.8826 29.3679 26.4087 30 28 30H42ZM28 22H34V26H28V22Z" fill="#F73859"/>
								</svg>
							span Удобная оплата
			.main-advantages
				.container
					.avantages
						span.advantages-title Преимущества
						span.advantages-subtitle Шаблон, адаптируемый под любой товар. Несколько предложений текста, ниже - изображения и описания к ним (любое количество).
						.advantages-boxes
							.advantages-box
								.advantages-box__image
									img(src="img/advantage1.jpg", alt="")
								span Следи за тем, что ешь и пьешь
							.advantages-box
								.advantages-box__image
									img(src="img/advantage2.jpg", alt="")
								span Тонкий щуп
							.advantages-box
								.advantages-box__image
									img(src="img/advantage3.jpg", alt="")
								span Простое управление
							.advantages-box
								.advantages-box__image
									img(src="img/advantage4.jpg", alt="")
								span Надежность
						.advantages-blocks
							.advantages-block
								.advantages-block__text
									span.advantages-block__title Оцените уровень содержания нитратов в продуктах
									span.advantages-block__subtitle Чтобы уменьшить воздействие нитратов на организм, следует стараться употреблять в пищу только сезонные фрукты и овощи, тщательно их промывать и вымачивать в соленой воде. Но точно понять, можно ли употреблять в пищу тот или иной продукт, поможет нитратомер Greentest ECO 5.
								.advantages-block__image
									img(src="img/block-image1.jpg", alt="")
							.advantages-block
								.advantages-block__image
									img(src="img/block-image2.jpg", alt="")
								.advantages-block__text
									span.advantages-block__title Общая эргономика, удобное меню и т.п.
									span.advantages-block__subtitle Чтобы уменьшить воздействие нитратов на организм, следует стараться употреблять в пищу только сезонные фрукты и овощи, тщательно их промывать и вымачивать в соленой воде. Но точно понять, можно ли употреблять в пищу тот или иной продукт, поможет нитратомер Greentest ECO 5.
							.advantages-block
								.advantages-block__text
									span.advantages-block__title Сертифицированный продукт, награды
									span.advantages-block__subtitle Чтобы уменьшить воздействие нитратов на организм, следует стараться употреблять в пищу только сезонные фрукты и овощи, тщательно их промывать и вымачивать в соленой воде. Но точно понять, можно ли употреблять в пищу тот или иной продукт, поможет нитратомер Greentest ECO 5.
								.advantages-block__image
									img(src="img/block-image3.jpg", alt="")
			.main-products
				.container
					.products
						span.products-title Товары
						.products-block
							.products-box
								.products-box__image
									img(src="img/product-img1.jpg", alt="")
								.products-box__info
									.products-info__option
										span.products-info__title Greentest ECO 5
										.products-info__platform
											.products-platform
												input(type="radio" id="ios" name="platform" checked)
												label(for="ios")
													span IPHONE
													span 
														<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
															<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
														</svg>
											.products-platform
												input(type="radio" id="android" name="platform")
												label(for="android")
													span ANDROID
													span 
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
															<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
														</svg>
										.products-info__color
											span Цвет
											.products-color
												ul
													li
														input(type="radio", name="color" id="color_white" checked)
														label(for="color_white" style="background-color: white; border: 1px solid #F0F0F0")
													li
														input(type="radio", name="color" id="color_black")
														label(for="color_black" style="background-color: black")
													li
														input(type="radio", name="color" id="color_green")
														label(for="color_green" style="background-color: green")
									.products-info__price
										span.products-price__old 11999
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
										span.products-price__new 8900
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									a(href="#").products-info__button.btn Купить
							.products-box
								.products-box__image
									img(src="img/product-img1.jpg", alt="")
								.products-box__info
									.products-info__option
										span.products-info__title Seek thermal reveal xr camo
										.products-info__platform
											.products-platform
												input(type="radio" id="ios1" name="platform1" checked)
												label(for="ios1")
													span IPHONE
													span 
														<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
															<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
														</svg>
											.products-platform
												input(type="radio" id="android1" name="platform1")
												label(for="android1")
													span ANDROID
													span 
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
															<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
														</svg>
										//- .products-info__color
										//- 	span Цвет
										//- 	.products-color
										//- 		ul
										//- 			li
										//- 				input(type="radio", name="color1" id="color_white1" checked)
										//- 				label(for="color_white1" style="background-color: white; border: 1px solid #F0F0F0")
										//- 			li
										//- 				input(type="radio", name="color1" id="color_black1")
										//- 				label(for="color_black1" style="background-color: black")
										//- 			li
										//- 				input(type="radio", name="color1" id="color_green1")
										//- 				label(for="color_green1" style="background-color: green")
									.products-info__price
										span.products-price__old 11999
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
										span.products-price__new 8900
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									a(href="#").products-info__button.btn Купить
							.products-box
								.products-box__image
									img(src="img/product-img1.jpg", alt="")
								.products-box__info
									.products-info__option
										span.products-info__title Seek thermal reveal xr camo max
										.products-info__platform
											.products-platform
												input(type="radio" id="ios2" name="platform2" checked)
												label(for="ios2")
													span IPHONE
													span 
														<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
															<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
														</svg>
											.products-platform
												input(type="radio" id="android2" name="platform2")
												label(for="android2")
													span ANDROID
													span 
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
															<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
														</svg>
										.products-info__color
											span Цвет
											.products-color
												ul
													li
														input(type="radio", name="color2" id="color_white2" checked)
														label(for="color_white2" style="background-color: white; border: 1px solid #F0F0F0")
													li
														input(type="radio", name="color2" id="color_black2")
														label(for="color_black2" style="background-color: black")
													li
														input(type="radio", name="color2" id="color_green2")
														label(for="color_green2" style="background-color: green")
									.products-info__price
										span.products-price__old 11999
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
										span.products-price__new 8900
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									a(href="#").products-info__button.btn Купить
							.products-box
								.products-box__image
									img(src="img/product-img1.jpg", alt="")
								.products-box__info
									.products-info__option
										span.products-info__title Greentest ECO 5
										span.products-info__subtitle Greentest ECO 5 – это 3-в-1! Вы сможете с его помощью проверить продукты на нитраты ...
										//- .products-info__platform
										//- 	.products-platform
										//- 		input(type="radio" id="ios3" name="platform3" checked)
										//- 		label(for="ios3")
										//- 			span IPHONE
										//- 			span 
										//- 				<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
										//- 					<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
										//- 				</svg>
										//- 	.products-platform
										//- 		input(type="radio" id="android3" name="platform3")
										//- 		label(for="android3")
										//- 			span ANDROID
										//- 			span 
										//- 				<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
										//- 					<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
										//- 				</svg>
										//- .products-info__color
										//- 	span Цвет
										//- 	.products-color
										//- 		ul
										//- 			li
										//- 				input(type="radio", name="color3" id="color_white3" checked)
										//- 				label(for="color_white3" style="background-color: white; border: 1px solid #F0F0F0")
										//- 			li
										//- 				input(type="radio", name="color3" id="color_black3")
										//- 				label(for="color_black3" style="background-color: black")
										//- 			li
										//- 				input(type="radio", name="color3" id="color_green3")
										//- 				label(for="color_green3" style="background-color: green")
									.products-info__price
										span.products-price__old 11999
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
										span.products-price__new 8900
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									a(href="#").products-info__button.btn Купить
						.products-block
							.products-middlebox
								.products-middlebox__image
									img(src="img/product-img2.jpg", alt="")
								.products-middlebox__info
									.products-info__option
										span.products-info__title Seek thermal reveal xr camo
										.products-info__platform
											.products-platform
												input(type="radio" id="ios4" name="platform4" checked)
												label(for="ios4")
													span IPHONE
													span 
														<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
															<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
														</svg>
											.products-platform
												input(type="radio" id="android4" name="platform4")
												label(for="android4")
													span ANDROID
													span 
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
															<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
														</svg>
										.products-info__color
											span Цвет
											.products-color
												ul
													li
														input(type="radio", name="color4" id="color_white4" checked)
														label(for="color_white4" style="background-color: white; border: 1px solid #F0F0F0")
													li
														input(type="radio", name="color4" id="color_black4")
														label(for="color_black4" style="background-color: black")
													li
														input(type="radio", name="color4" id="color_green4")
														label(for="color_green4" style="background-color: green")
									.products-info__price
										span.products-price__old 11999
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
										span.products-price__new 8900
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									a(href="#").products-info__button.btn Купить
							.products-middlebox
								.products-middlebox__image
									img(src="img/product-img2.jpg", alt="")
								.products-middlebox__info
									.products-info__option
										span.products-info__title Greentest ECO 5
										span.products-info__subtitle Greentest ECO 5 – это 3-в-1! Вы сможете с его помощью проверить продукты на нитраты ...
										//- .products-info__platform
										//- 	.products-platform
										//- 		input(type="radio" id="ios3" name="platform3" checked)
										//- 		label(for="ios3")
										//- 			span IPHONE
										//- 			span 
										//- 				<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
										//- 					<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
										//- 				</svg>
										//- 	.products-platform
										//- 		input(type="radio" id="android3" name="platform3")
										//- 		label(for="android3")
										//- 			span ANDROID
										//- 			span 
										//- 				<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
										//- 					<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
										//- 				</svg>
										//- .products-info__color
										//- 	span Цвет
										//- 	.products-color
										//- 		ul
										//- 			li
										//- 				input(type="radio", name="color3" id="color_white3" checked)
										//- 				label(for="color_white3" style="background-color: white; border: 1px solid #F0F0F0")
										//- 			li
										//- 				input(type="radio", name="color3" id="color_black3")
										//- 				label(for="color_black3" style="background-color: black")
										//- 			li
										//- 				input(type="radio", name="color3" id="color_green3")
										//- 				label(for="color_green3" style="background-color: green")
									.products-info__price
										span.products-price__old 11999
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
										span.products-price__new 8900
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									a(href="#").products-info__button.btn Купить
						.products-block
							.products-bigbox
								.products-bigbox__image
									img(src="img/product-img3.jpg", alt="")
								.products-bigbox__subtitle
									span.products-bigbox__title Greentest ECO 5 GOLD
									span.products-bigbox__stitle Greentest ECO 5 – это 3-в-1! Вы сможете с его помощью проверить продукты на нитраты, измерить жёсткость воды и уровень радиации в вашей квартире или загородном доме.
									ul.products-bigbox__list
										li.products-bigbox__item
											span Компактный размер
										li.products-bigbox__item
											span Сенсорный дисплей
										li.products-bigbox__item
											span Тонкий двойной щуп (не оставляет следов после измерения)
										li.products-bigbox__item
											span Более 60 продуктов питания в памяти устройства
										li.products-bigbox__item
											span Тестер жесткости воды
										li.products-bigbox__item
											span Дозиметр
								.products-bigbox__info
									.products-info__platform
										.products-platform
											input(type="radio" id="ios5" name="platform5" checked)
											label(for="ios5")
												span IPHONE
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
														<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
													</svg>
										.products-platform
											input(type="radio" id="android5" name="platform5")
											label(for="android5")
												span ANDROID
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
														<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
													</svg>
									.products-info__color
										span Цвет
										.products-color
											ul
												li
													input(type="radio", name="color5" id="color_white5" checked)
													label(for="color_white5" style="background-color: white; border: 1px solid #F0F0F0")
												li
													input(type="radio", name="color5" id="color_black5")
													label(for="color_black5" style="background-color: black")
												li
													input(type="radio", name="color5" id="color_green5")
													label(for="color_green5" style="background-color: green")
									.products-info__price
										span.products-price__old 11999
											<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
												<path d="M0.95985 6.72716H2.07987V7.81821C2.07987 7.87129 2.09482 7.91475 2.12489 7.94872C2.15488 7.98291 2.19322 8 2.23992 8H3.07488C3.11821 8 3.15571 7.98291 3.18738 7.94872C3.21905 7.91475 3.23484 7.87128 3.23484 7.81821V6.72716H5.75984C5.80645 6.72716 5.8448 6.71028 5.87486 6.67609C5.90494 6.64194 5.91987 6.59845 5.91987 6.54537V5.81806C5.91987 5.76529 5.90494 5.72152 5.87486 5.68756C5.84488 5.65337 5.80645 5.63628 5.75984 5.63628H3.23476V4.96579H4.93476C5.6014 4.96579 6.14548 4.73496 6.56727 4.27265C6.98889 3.81082 7.1998 3.21424 7.1998 2.4829C7.1998 1.75203 6.98889 1.15545 6.56727 0.693145C6.14557 0.231299 5.60138 0 4.93476 0H2.23984C2.19312 0 2.15487 0.0170781 2.12481 0.0510618C2.09482 0.0852337 2.07979 0.128987 2.07979 0.181774V3.75572H0.95985C0.913149 3.75572 0.87488 3.77368 0.844822 3.80966C0.814847 3.84565 0.799805 3.88826 0.799805 3.93748V4.78399C0.799805 4.83707 0.814751 4.88056 0.844822 4.91471C0.874893 4.9489 0.913066 4.96578 0.95985 4.96578H2.07987V5.63626H0.95985C0.913149 5.63626 0.87488 5.65335 0.844822 5.68754C0.814847 5.72151 0.799805 5.76518 0.799805 5.81805V6.54535C0.799805 6.59844 0.814751 6.64192 0.844822 6.67608C0.87488 6.71028 0.913135 6.72716 0.95985 6.72716ZM3.23476 1.21035H4.83476C5.18806 1.21035 5.47301 1.32773 5.68975 1.56258C5.90638 1.79743 6.01474 2.10435 6.01474 2.48299C6.01474 2.86181 5.90638 3.16883 5.68975 3.4034C5.47301 3.63845 5.18805 3.75583 4.83476 3.75583H3.23476V1.21035Z" fill="#7C7C7C"/>
											</svg>
										span.products-price__new 8900
											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="13" viewBox="0 0 11 13" fill="none">
												<path d="M0.559878 10.9316H2.37992V12.7046C2.37992 12.7909 2.4042 12.8615 2.45307 12.9167C2.5018 12.9722 2.5641 13 2.63999 13H3.9968C4.06722 13 4.12815 12.9722 4.17962 12.9167C4.23108 12.8615 4.25674 12.7908 4.25674 12.7046V10.9316H8.35987C8.4356 10.9316 8.49792 10.9042 8.54676 10.8487C8.59565 10.7931 8.61992 10.7225 8.61992 10.6362V9.45435C8.61992 9.3686 8.59565 9.29748 8.54676 9.24228C8.49805 9.18672 8.4356 9.15895 8.35987 9.15895H4.2566V8.06941H7.01911C8.1024 8.06941 8.98654 7.69431 9.67194 6.94305C10.3571 6.19258 10.6998 5.22314 10.6998 4.03471C10.6998 2.84706 10.3571 1.8776 9.67194 1.12636C8.98667 0.375861 8.10237 0 7.01911 0H2.63986C2.56394 0 2.50178 0.0277519 2.45294 0.0829754C2.4042 0.138505 2.37978 0.209605 2.37978 0.295383V6.10305H0.559878C0.483988 6.10305 0.421801 6.13223 0.372958 6.19069C0.324249 6.24917 0.299805 6.31841 0.299805 6.39841V7.77398C0.299805 7.86024 0.324092 7.9309 0.372958 7.98641C0.421824 8.04196 0.483854 8.06938 0.559878 8.06938H2.37992V9.15892H0.559878C0.483988 9.15892 0.421801 9.1867 0.372958 9.24225C0.324249 9.29745 0.299805 9.36842 0.299805 9.45433V10.6362C0.299805 10.7225 0.324092 10.7931 0.372958 10.8486C0.421801 10.9042 0.483966 10.9316 0.559878 10.9316ZM4.2566 1.96682H6.85662C7.43072 1.96682 7.89377 2.15756 8.24597 2.53919C8.59798 2.92083 8.77407 3.41958 8.77407 4.03486C8.77407 4.65045 8.59798 5.14934 8.24597 5.53053C7.89377 5.91248 7.4307 6.10323 6.85662 6.10323H4.2566V1.96682Z" fill="#222222"/>
											</svg>
									a(href="#").products-info__button.btn Купить
			.main-articles
				.container
					.articles
						span.articles-title Статьи об этом товаре
						.articles-boxes
							.articles-box
								.articles-box__image
									img(src="img/article-img1.jpg", alt="")
								.articles-box__info
									span.articles-box__title Название публикации
									a(href="#").articles-box__link ссылка на ресурс
							.articles-box
								.articles-box__image
									img(src="img/article-img2.jpg", alt="")
								.articles-box__info
									span.articles-box__title Название публикации
									a(href="#").articles-box__link dzen.ru
							.articles-box
								.articles-box__image
									img(src="img/article-img3.jpg", alt="")
								.articles-box__info
									span.articles-box__title Название публикации
									a(href="#").articles-box__link ссылка на ресурс
							.articles-box
								.articles-box__image
									img(src="img/article-img4.jpg", alt="")
								.articles-box__info
									span.articles-box__title Название публикации
									a(href="#").articles-box__link ссылка на ресурс
						a(href="#").articles-more
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M5.463 4.43301C7.27756 2.86067 9.59899 1.99666 12 2.00001C17.523 2.00001 22 6.47701 22 12C22 14.136 21.33 16.116 20.19 17.74L17 12H20C20.0001 10.4316 19.5392 8.89781 18.6747 7.58927C17.8101 6.28072 16.5799 5.25517 15.1372 4.64013C13.6944 4.0251 12.1027 3.84771 10.56 4.13003C9.0172 4.41234 7.59145 5.14191 6.46 6.22801L5.463 4.43301ZM18.537 19.567C16.7224 21.1393 14.401 22.0034 12 22C6.477 22 2 17.523 2 12C2 9.86401 2.67 7.88401 3.81 6.26001L7 12H4C3.99987 13.5684 4.46075 15.1022 5.32534 16.4108C6.18992 17.7193 7.42007 18.7449 8.86282 19.3599C10.3056 19.9749 11.8973 20.1523 13.44 19.87C14.9828 19.5877 16.4085 18.8581 17.54 17.772L18.537 19.567Z" fill="#7C7C7C"/>
							</svg>
							span Еще публикации
			.main-partners
				.container
					.partners
						span.partners-title Наши партнеры
						.partners-slider
							.partners-slide
								img(src="img/partners-img1.jpg", alt="")
							.partners-slide
								img(src="img/partners-img2.jpg", alt="")
							.partners-slide
								img(src="img/partners-img3.jpg", alt="")
							.partners-slide
								img(src="img/partners-img1.jpg", alt="")
							.partners-slide
								img(src="img/partners-img2.jpg", alt="")
							.partners-slide
								img(src="img/partners-img3.jpg", alt="")
							.partners-slide
								img(src="img/partners-img1.jpg", alt="")
							.partners-slide
								img(src="img/partners-img2.jpg", alt="")
							.partners-slide
								img(src="img/partners-img3.jpg", alt="")