extends ../views/layouts/default
block variables
	- var title = "Главная страница";
	- var main = true;

block content
	main
		.main
			.main-slider
				.slide
					img(src="../img/slider__img.jpg", alt="")
					.container
						.slide-box
							h2 Greentest ECO 5
							p Greentest ECO 5 – это 3-в-1! Проверяйте продукты на нитраты, измеряйте жёсткость воды и уровень радиации в вашей квартире или загородном доме.
							.slide-box__price
								span.slide-price__old 11999 Р
								span.slide-price__new 8900 Р
							a(href="#").slide-box__button.btn Купить
				.slide
					img(src="../img/slider__img.jpg", alt="")
					.container
						.slide-box
							h2 Greentest ECO 5
							p Greentest ECO 5 – это 3-в-1! Проверяйте продукты на нитраты, измеряйте жёсткость воды и уровень радиации в вашей квартире или загородном доме.
							.slide-box__price
								span.slide-price__old 11999 Р
								span.slide-price__new 8900 Р
							a(href="#").slide-box__button.btn Купить
				.slide
					img(src="../img/slider__img.jpg", alt="")
					.container
						.slide-box
							h2 Greentest ECO 5
							p Greentest ECO 5 – это 3-в-1! Проверяйте продукты на нитраты, измеряйте жёсткость воды и уровень радиации в вашей квартире или загородном доме.
							.slide-box__price
								span.slide-price__old 11999 Р
								span.slide-price__new 8900 Р
							a(href="#").slide-box__button.btn Купить
				.slide
					img(src="../img/slider__img.jpg", alt="")
					.container
						.slide-box
							h2 Greentest ECO 5
							p Greentest ECO 5 – это 3-в-1! Проверяйте продукты на нитраты, измеряйте жёсткость воды и уровень радиации в вашей квартире или загородном доме.
							.slide-box__price
								span.slide-price__old 11999 Р
								span.slide-price__new 8900 Р
							a(href="#").slide-box__button.btn Купить
			.main-feautures
				.container
					.main-feautures__block
						.main-feauture
							.main-feauture__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
									<path d="M10 9.208V27.578C10 28.8949 10.3251 30.1915 10.9465 31.3526C11.5679 32.5137 12.4663 33.5034 13.562 34.234L24 41.194L34.438 34.234C35.5334 33.5036 36.4316 32.5142 37.053 31.3535C37.6744 30.1927 37.9996 28.8966 38 27.58V9.208L24 6.1L10 9.208ZM7.566 5.652L24 2L40.434 5.652C40.8781 5.75073 41.2753 5.99793 41.56 6.35281C41.8447 6.70769 41.9999 7.14903 42 7.604V27.578C41.9999 29.5535 41.512 31.4984 40.5798 33.24C39.6475 34.9817 38.2997 36.4663 36.656 37.562L24 46L11.344 37.562C9.70055 36.4665 8.35292 34.9822 7.4207 33.2409C6.48847 31.4996 6.00047 29.5551 6 27.58V7.604C6.00008 7.14903 6.15528 6.70769 6.43998 6.35281C6.72468 5.99793 7.12187 5.75073 7.566 5.652V5.652ZM24 27L18.122 30.09L19.244 23.546L14.49 18.91L21.062 17.954L24 12L26.94 17.954L33.51 18.91L28.756 23.546L29.876 30.09L24 27Z" fill="#F73859"/>
								</svg>
							span Официальный магазин
						.main-feauture
							.main-feauture__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
									<path d="M17.93 36C17.6922 37.6686 16.8604 39.1954 15.5874 40.2999C14.3143 41.4044 12.6854 42.0125 11 42.0125C9.31456 42.0125 7.68571 41.4044 6.41264 40.2999C5.13957 39.1954 4.30776 37.6686 4.07 36H2V12C2 11.4696 2.21071 10.9609 2.58579 10.5858C2.96086 10.2107 3.46957 10 4 10H32C32.5304 10 33.0391 10.2107 33.4142 10.5858C33.7893 10.9609 34 11.4696 34 12V16H40L46 24.112V36H41.93C41.6922 37.6686 40.8604 39.1954 39.5874 40.2999C38.3143 41.4044 36.6854 42.0125 35 42.0125C33.3146 42.0125 31.6857 41.4044 30.4126 40.2999C29.1396 39.1954 28.3078 37.6686 28.07 36H17.93ZM30 14H6V30.1C6.78912 29.2944 7.7612 28.6914 8.83351 28.3422C9.90581 27.9931 11.0466 27.9082 12.1588 28.0948C13.2709 28.2814 14.3215 28.7339 15.2212 29.4138C16.1209 30.0937 16.843 30.981 17.326 32H28.674C29.01 31.294 29.46 30.652 30 30.1V14ZM34 26H42V25.43L37.984 20H34V26ZM35 38C35.7959 38 36.5592 37.6838 37.122 37.121C37.6848 36.5582 38.001 35.7949 38.001 34.999C38.001 34.2031 37.6848 33.4398 37.122 32.877C36.5592 32.3142 35.7959 31.998 35 31.998C34.2041 31.998 33.4408 32.3142 32.878 32.877C32.3152 33.4398 31.999 34.2031 31.999 34.999C31.999 35.7949 32.3152 36.5582 32.878 37.121C33.4408 37.6838 34.2041 38 35 38ZM14 35C14 34.606 13.9224 34.2159 13.7716 33.8519C13.6209 33.488 13.3999 33.1573 13.1213 32.8787C12.8427 32.6001 12.512 32.3791 12.1481 32.2284C11.7841 32.0776 11.394 32 11 32C10.606 32 10.2159 32.0776 9.85195 32.2284C9.48797 32.3791 9.15726 32.6001 8.87868 32.8787C8.6001 33.1573 8.37913 33.488 8.22836 33.8519C8.0776 34.2159 8 34.606 8 35C8 35.7956 8.31607 36.5587 8.87868 37.1213C9.44129 37.6839 10.2044 38 11 38C11.7956 38 12.5587 37.6839 13.1213 37.1213C13.6839 36.5587 14 35.7956 14 35Z" fill="#F73859"/>
								</svg>
							span Быстрая доставка
						.main-feauture
							.main-feauture__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
									<path d="M6 6H42C42.5304 6 43.0391 6.21071 43.4142 6.58579C43.7893 6.96086 44 7.46957 44 8V40C44 40.5304 43.7893 41.0391 43.4142 41.4142C43.0391 41.7893 42.5304 42 42 42H6C5.46957 42 4.96086 41.7893 4.58579 41.4142C4.21071 41.0391 4 40.5304 4 40V8C4 7.46957 4.21071 6.96086 4.58579 6.58579C4.96086 6.21071 5.46957 6 6 6V6ZM40 22H8V38H40V22ZM40 18V10H8V18H40ZM28 30H36V34H28V30Z" fill="#F73859"/>
								</svg>
							span Покупка в рассрочку
						.main-feauture
							.main-feauture__icon
								<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
									<path d="M44 14H46V34H44V40C44 40.5304 43.7893 41.0391 43.4142 41.4142C43.0391 41.7893 42.5304 42 42 42H6C5.46957 42 4.96086 41.7893 4.58579 41.4142C4.21071 41.0391 4 40.5304 4 40V8C4 7.46957 4.21071 6.96086 4.58579 6.58579C4.96086 6.21071 5.46957 6 6 6H42C42.5304 6 43.0391 6.21071 43.4142 6.58579C43.7893 6.96086 44 7.46957 44 8V14ZM40 34H28C25.3478 34 22.8043 32.9464 20.9289 31.0711C19.0536 29.1957 18 26.6522 18 24C18 21.3478 19.0536 18.8043 20.9289 16.9289C22.8043 15.0536 25.3478 14 28 14H40V10H8V38H40V34ZM42 30V18H28C26.4087 18 24.8826 18.6321 23.7574 19.7574C22.6321 20.8826 22 22.4087 22 24C22 25.5913 22.6321 27.1174 23.7574 28.2426C24.8826 29.3679 26.4087 30 28 30H42ZM28 22H34V26H28V22Z" fill="#F73859"/>
								</svg>
							span Удобная оплата
			.main-advantages
				.container
					.avantages
						span.advantages-title Преимущества
						span.advantages-subtitle Шаблон, адаптируемый под любой товар. Несколько предложений текста, ниже - изображения и описания к ним (любое количество).
						.advantages-boxes
							.advantages-box
								.advantages-box__image
									img(src="../img/advantage1.jpg", alt="")
								span Следи за тем, что ешь и пьешь
							.advantages-box
								.advantages-box__image
									img(src="../img/advantage2.jpg", alt="")
								span Тонкий щуп
							.advantages-box
								.advantages-box__image
									img(src="../img/advantage3.jpg", alt="")
								span Простое управление
							.advantages-box
								.advantages-box__image
									img(src="../img/advantage4.jpg", alt="")
								span Надежность
						.advantages-blocks
							.advantages-block
								.advantages-block__text
									span.advantages-block__title Оцените уровень содержания нитратов в продуктах
									span.advantages-block__subtitle Чтобы уменьшить воздействие нитратов на организм, следует стараться употреблять в пищу только сезонные фрукты и овощи, тщательно их промывать и вымачивать в соленой воде. Но точно понять, можно ли употреблять в пищу тот или иной продукт, поможет нитратомер Greentest ECO 5.
								.advantages-block__image
									img(src="../img/block-image1.jpg", alt="")
							.advantages-block
								.advantages-block__image
									img(src="../img/block-image2.jpg", alt="")
								.advantages-block__text
									span.advantages-block__title Общая эргономика, удобное меню и т.п.
									span.advantages-block__subtitle Чтобы уменьшить воздействие нитратов на организм, следует стараться употреблять в пищу только сезонные фрукты и овощи, тщательно их промывать и вымачивать в соленой воде. Но точно понять, можно ли употреблять в пищу тот или иной продукт, поможет нитратомер Greentest ECO 5.
							.advantages-block
								.advantages-block__text
									span.advantages-block__title Сертифицированный продукт, награды
									span.advantages-block__subtitle Чтобы уменьшить воздействие нитратов на организм, следует стараться употреблять в пищу только сезонные фрукты и овощи, тщательно их промывать и вымачивать в соленой воде. Но точно понять, можно ли употреблять в пищу тот или иной продукт, поможет нитратомер Greentest ECO 5.
								.advantages-block__image
									img(src="../img/block-image3.jpg", alt="")
			.main-products
				.container
					.products
						span.products-title Товары
						.products-block
							.products-box
								.products-box__image
									img(src="../img/product-img1.jpg", alt="")
								.products-box__info
									span.products-info__title Greentest ECO 5
									.products-info__platform
										.products-platform
											input(type="radio" id="ios" name="platform" checked)
											label(for="ios")
												span IPHONE
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
														<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
													</svg>
										.products-platform
											input(type="radio" id="android" name="platform")
											label(for="android")
												span ANDROID
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
														<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
													</svg>
									.products-info__color
									.products-info__price
									a(href="#").products-info__button.btn Купить
							.products-box
								.products-box__image
									img(src="../img/product-img1.jpg", alt="")
								.products-box__info
									span.products-info__title Seek thermal reveal xr camo
									.products-info__platform
										.products-platform
											input(type="radio" id="ios1" name="platform1" checked)
											label(for="ios1")
												span IPHONE
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
														<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
													</svg>
										.products-platform
											input(type="radio" id="android1" name="platform1")
											label(for="android1")
												span ANDROID
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
														<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
													</svg>
									.products-info__color
									.products-info__price
									a(href="#").products-info__button.btn Купить
							.products-box
								.products-box__image
									img(src="../img/product-img1.jpg", alt="")
								.products-box__info
									span.products-info__title Seek thermal reveal xr camo
									.products-info__platform
										.products-platform
											input(type="radio" id="ios2" name="platform2" checked)
											label(for="ios2")
												span IPHONE
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
														<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
													</svg>
										.products-platform
											input(type="radio" id="android2" name="platform2")
											label(for="android2")
												span ANDROID
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
														<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
													</svg>
									.products-info__color
									.products-info__price
									a(href="#").products-info__button.btn Купить
							.products-box
								.products-box__image
									img(src="../img/product-img1.jpg", alt="")
								.products-box__info
									span.products-info__title Greentest ECO 5
									.products-info__platform
										.products-platform
											input(type="radio" id="ios3" name="platform3" checked)
											label(for="ios3")
												span IPHONE
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16" fill="none">
														<path d="M6.74937 4.81441C6.16537 4.81441 5.26137 4.15041 4.30937 4.17441C3.05337 4.19041 1.90137 4.90241 1.25337 6.03041C-0.0506256 8.29441 0.917374 11.6384 2.18937 13.4784C2.81337 14.3744 3.54937 15.3824 4.52537 15.3504C5.46137 15.3104 5.81337 14.7424 6.94937 14.7424C8.07737 14.7424 8.39737 15.3504 9.38937 15.3264C10.3974 15.3104 11.0374 14.4144 11.6534 13.5104C12.3654 12.4704 12.6614 11.4624 12.6774 11.4064C12.6534 11.3984 10.7174 10.6544 10.6934 8.41441C10.6774 6.54241 12.2214 5.64641 12.2934 5.60641C11.4134 4.31841 10.0614 4.17441 9.58937 4.14241C8.35737 4.04641 7.32537 4.81441 6.74937 4.81441ZM8.82937 2.92641C9.34937 2.30241 9.69337 1.43041 9.59737 0.566406C8.85337 0.598406 7.95737 1.06241 7.42137 1.68641C6.94137 2.23841 6.52537 3.12641 6.63737 3.97441C7.46137 4.03841 8.30937 3.55041 8.82937 2.92641Z" fill="#7C7C7C"/>
													</svg>
										.products-platform
											input(type="radio" id="android3" name="platform3")
											label(for="android3")
												span ANDROID
												span 
													<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none">
														<path d="M2.25467 1.6455C3.31716 0.794214 4.63854 0.331333 6 0.333504C7.41667 0.333504 8.71867 0.82417 9.74533 1.6455L10.714 0.676837L11.6567 1.6195L10.688 2.58817C11.5393 3.65067 12.0022 4.97204 12 6.3335V7.00017H0V6.3335C0 4.91684 0.490667 3.61484 1.312 2.58817L0.343333 1.62017L1.286 0.677504L2.25467 1.64617V1.6455ZM0 8.3335H12V13.0002C12 13.177 11.9298 13.3466 11.8047 13.4716C11.6797 13.5966 11.5101 13.6668 11.3333 13.6668H0.666667C0.489856 13.6668 0.320286 13.5966 0.195262 13.4716C0.0702379 13.3466 0 13.177 0 13.0002V8.3335ZM4 5.00017C4.17681 5.00017 4.34638 4.92993 4.4714 4.80491C4.59643 4.67988 4.66667 4.51031 4.66667 4.3335C4.66667 4.15669 4.59643 3.98712 4.4714 3.8621C4.34638 3.73708 4.17681 3.66684 4 3.66684C3.82319 3.66684 3.65362 3.73708 3.5286 3.8621C3.40357 3.98712 3.33333 4.15669 3.33333 4.3335C3.33333 4.51031 3.40357 4.67988 3.5286 4.80491C3.65362 4.92993 3.82319 5.00017 4 5.00017ZM8 5.00017C8.17681 5.00017 8.34638 4.92993 8.47141 4.80491C8.59643 4.67988 8.66667 4.51031 8.66667 4.3335C8.66667 4.15669 8.59643 3.98712 8.47141 3.8621C8.34638 3.73708 8.17681 3.66684 8 3.66684C7.82319 3.66684 7.65362 3.73708 7.5286 3.8621C7.40357 3.98712 7.33333 4.15669 7.33333 4.3335C7.33333 4.51031 7.40357 4.67988 7.5286 4.80491C7.65362 4.92993 7.82319 5.00017 8 5.00017Z" fill="#7C7C7C"/>
													</svg>
									.products-info__color
									.products-info__price
									a(href="#").products-info__button.btn Купить
						.products-block
						.products-block