extends ../views/layouts/default
block variables
	- var title = "Страница благодарности";
	- var main = true;

block content
	main
		.main
			.container
				.breadcrumbs
					a(href="#") Главная
					span Текущая страница
				.thanks
					span.thanks-title Спасибо! Ваш заказ успешно оформлен.
					.thanks-block
						.thanks-block__info
							p
								span.thanks-info__property Номер заказа
								span.thanks-info__val 9415
							p
								span.thanks-info__property Оплата
								span.thanks-info__val Оплата при получении наличными или банковской картой
							p
								span.thanks-info__property Получатель
								span.thanks-info__val example@gmail.com
							span.thanks-info__text В ближайшее время наш сотрудник свяжется с Вами, если Вы выбрали функцию подтверждения заказа по телефону.
							p
								span.thanks-info__property Наш номер
								span.thanks-info__val 8 (800) 700-08-34
						.thanks-block__status
							a(href="#").thanks-status__link Статус заказа можно отследить в Личном кабинете
							.thanks-status__image
								<svg xmlns="http://www.w3.org/2000/svg" width="161" height="161" viewBox="0 0 161 161" fill="none">
									<path d="M138.649 152.056C146.052 152.056 152.06 146.045 152.06 138.639V33.2644C149.404 34.8207 146.347 35.7778 143.048 35.7778H17.8809C14.6087 35.7778 11.5779 34.8386 8.94047 33.3002V138.639C8.94047 146.045 14.9485 152.056 22.3512 152.056H138.649ZM17.8809 8.94444C12.9369 8.94444 8.94047 12.9516 8.94047 17.8889C8.94047 22.8262 12.9369 26.8333 17.8809 26.8333H143.048C147.992 26.8333 151.988 22.8262 151.988 17.8889C151.988 12.9516 147.992 8.94444 143.048 8.94444H17.8809ZM160.848 17.1018C160.893 17.3433 161 17.5669 161 17.8173V138.639C161 150.991 150.987 161 138.649 161H22.3512C10.0044 161 0 150.991 0 138.639V17.8889C0 8.01422 8.01066 0 17.8809 0H143.048C152.65 0 160.437 7.59384 160.848 17.1018ZM120.698 44.7222C123.166 44.7222 125.168 46.7258 125.168 49.1944C125.168 51.6631 123.166 53.6667 120.698 53.6667H116.228C116.228 73.4249 100.216 89.4444 80.466 89.4444C60.7165 89.4444 44.7041 73.4249 44.7041 53.6667H40.2339C37.7663 53.6667 35.7637 51.6631 35.7637 49.1944C35.7637 46.7258 37.7663 44.7222 40.2339 44.7222H58.1149C60.5824 44.7222 62.5851 46.7258 62.5851 49.1944C62.5851 51.6631 60.5824 53.6667 58.1149 53.6667H53.6446C53.6446 68.4876 65.6517 80.5 80.466 80.5C95.2804 80.5 107.287 68.4876 107.287 53.6667H102.817C100.35 53.6667 98.347 51.6631 98.347 49.1944C98.347 46.7258 100.35 44.7222 102.817 44.7222H120.698Z" fill="white"/>
								</svg>
