.dadjet-page
	list-style: none
	text-align: center
	li
		width: 250px
		margin: 0 auto
		margin-bottom: 10px
		a
			display: block
			padding: 15px 20px
			border: 1px solid #DC143C
			border-radius: 10px
			text-decoration: none
			color: #000000
			transition: 0.3s
			&:hover
				color: #ffffff
				background: #DC143C
//Классы для отступов(margins and paddings)
.mt-4
	margin: 4px 0 0 0
.mb-4
	margin: 0 0 4px 0
.mr-4
	margin: 0 4px 0 0
.ml-4
	margin: 0 0 0 16px
.mt-8
	margin: 8px 0 0 0
.mb-8
	margin: 0 0 8px 0
.mr-8
	margin: 0 8px 0 0
.ml-8
	margin: 0 0 0 8px
.pt-4
	padding: 4px 0 0 0
.pb-4
	padding: 0 0 4px 0
.pr-4
	padding: 0 4px 0 0
.pl-4
	padding: 0 0 0 4px
.pt-8
	padding: 8px 0 0 0
.pb-8
	padding: 0 0 8px 0
.pr-8
	padding: 0 8px 0 0
.pl-8
	padding: 0 0 0 8px
.mt-16
	margin: 16px 0 0 0
.mb-16
	margin: 0 0 16px 0
.mr-16
	margin: 0 16px 0 0
.ml-16
	margin: 0 0 0 16px
.mt-32
	margin: 32px 0 0 0
.mb-32
	margin: 0 0 32px 0
.mr-32
	margin: 0 32px 0 0
.ml-32
	margin: 0 0 0 32px
.pt-16
	padding: 16px 0 0 0
.pb-16
	padding: 0 0 16px 0
.pr-16
	padding: 0 16px 0 0
.pl-16
	padding: 0 0 0 16px
.pt-32
	padding: 32px 0 0 0
.pb-32
	padding: 0 0 32px 0
.pr-32
	padding: 0 32px 0 0
.pl-32
	padding: 0 0 0 32px
.mv-4
	margin: 4px 0
.mv-8
	margin: 8px 0
.mh-4
	margin: 0 4px
.mh-8
	margin: 0 8px
.pv-4
	padding: 4px 0
.pv-8
	padding: 8px 0
.ph-4
	padding:  0 4px
.ph-8
	padding: 0 8px
.mv-16
	margin: 16px 0
.mv-32
	margin: 32px 0
.mh-16
	margin: 0 16px
.mh-32
	margin: 0 32px
.pv-16
	padding: 16px 0
.pv-32
	padding: 32px 0
.ph-16
	padding:  0 16px
.ph-32
	padding: 0 32px
//Стили для главной страницы