.dadjet-page
	list-style: none
	text-align: center
	li
		width: 250px
		margin: 0 auto
		margin-bottom: 10px
		a
			display: block
			padding: 15px 20px
			border: 1px solid #DC143C
			border-radius: 10px
			text-decoration: none
			color: #000000
			transition: 0.3s
			&:hover
				color: #ffffff
				background: #DC143C
//Классы для отступов(margins and paddings)
.mt-4
	margin: 4px 0 0 0
.mb-4
	margin: 0 0 4px 0
.mr-4
	margin: 0 4px 0 0
.ml-4
	margin: 0 0 0 16px
.mt-8
	margin: 8px 0 0 0
.mb-8
	margin: 0 0 8px 0
.mr-8
	margin: 0 8px 0 0
.ml-8
	margin: 0 0 0 8px
.pt-4
	padding: 4px 0 0 0
.pb-4
	padding: 0 0 4px 0
.pr-4
	padding: 0 4px 0 0
.pl-4
	padding: 0 0 0 4px
.pt-8
	padding: 8px 0 0 0
.pb-8
	padding: 0 0 8px 0
.pr-8
	padding: 0 8px 0 0
.pl-8
	padding: 0 0 0 8px
.mt-16
	margin: 16px 0 0 0
.mb-16
	margin: 0 0 16px 0
.mr-16
	margin: 0 16px 0 0
.ml-16
	margin: 0 0 0 16px
.mt-32
	margin: 32px 0 0 0
.mb-32
	margin: 0 0 32px 0
.mr-32
	margin: 0 32px 0 0
.ml-32
	margin: 0 0 0 32px
.pt-16
	padding: 16px 0 0 0
.pb-16
	padding: 0 0 16px 0
.pr-16
	padding: 0 16px 0 0
.pl-16
	padding: 0 0 0 16px
.pt-32
	padding: 32px 0 0 0
.pb-32
	padding: 0 0 32px 0
.pr-32
	padding: 0 32px 0 0
.pl-32
	padding: 0 0 0 32px
.mv-4
	margin: 4px 0
.mv-8
	margin: 8px 0
.mh-4
	margin: 0 4px
.mh-8
	margin: 0 8px
.pv-4
	padding: 4px 0
.pv-8
	padding: 8px 0
.ph-4
	padding:  0 4px
.ph-8
	padding: 0 8px
.mv-16
	margin: 16px 0
.mv-32
	margin: 32px 0
.mh-16
	margin: 0 16px
.mh-32
	margin: 0 32px
.pv-16
	padding: 16px 0
.pv-32
	padding: 32px 0
.ph-16
	padding:  0 16px
.ph-32
	padding: 0 32px

//Стили для главной страницы
.main
	&-slider
		height: 496px
		margin-bottom: 0 !important
		.slick-arrow
			width: 40px
			height: 40px
			border-radius: 50%
			background: #FFFFFF
			border: 1px solid #F0F0F0
			box-sizing: border-box
			top: auto
			bottom: 25px
			z-index: 1
			transition: 0.2s
			&:hover
				box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.16)
			&:active
				box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.24)
		.slick-prev
			background-image: url('../img/arrow-right.png')
			background-position: 50% 50%
			background-repeat: no-repeat
			transform: rotate(180deg)
			left: calc(50% - 104px)
			&:before
				display: none
		.slick-next
			background-image: url('../img/arrow-right.png')
			background-position: 50% 50%
			background-repeat: no-repeat
			right: calc(50% - 104px)
			margin-bottom: -20px
			&:before
				display: none
		.slick-dots
			bottom: 38px
			li
				width: 12px
				height: 12px
				button
					width: 12px
					height: 12px
					border: 2px solid #F0F0F0
					box-sizing: border-box
					border-radius: 50%
					&:before
						display: none
			.slick-active
				button
					border: none
					background: #F73859
	&-feautures
		padding: 32px 0 48px
		&__block
			display: flex
			justify-content: space-between
	&-feauture
		width: 100%
		max-width: 264px
		padding: 16px
		&__icon
			text-align: center
		span
			display: block
			font-family: $OS-B
			font-size: 16px
			line-height: 24px
			letter-spacing: -0.01em
			color: #222222
			text-align: center
			padding-top: 5px
			margin-top: 5px
			border-top: 2px solid  #F73859
	&-advantages
		padding: 40px 0 56px
		background: #F9F9FB
	&-products
		padding: 40px 0 56px
	&-articles
		padding: 40px 0 56px
	&-partners
		padding: 40px 0 56px
		background: #F9F9FB
	&-gallery
		padding: 40px 0 56px
	&-feedback
		padding: 40px 0 56px
@keyframes slide 
	0%
		opacity: 0
		transform: translate(0px,100px)
	100%
		opacity: 1
		transform: translate(0px,0px)
.slick-slide
	outline: none
.slide
	position: relative
	&-box
		position: absolute
		top: 56px
		width: 451px
		padding: 32px
		opacity: 0.95
		border-radius: 4px
		background: #ffffff
		opacity: 0
		box-sizing: border-box
		&__anim
			opacity: 0.95
			animation: slide .5s
		h2
			font-family: $OS-B
			font-weight: bold
			font-size: 48px
			line-height: 48px
			color: #222222
			margin-bottom: 24px
		p
			display: block
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #7C7C7C
			margin-bottom: 24px
		&__button
			width: 100px
			height: 30px
			margin-top: 12px
	&-price
		&__old
			display: $OS-R
			font-size: 13px
			line-height: 16px
			text-decoration-line: line-through
			color: #7C7C7C
		&__new
			display: block
			font-family: $OS-B
			font-style: normal
			font-weight: bold
			font-size: 18px
			line-height: 18px
			color: #222222
.btn
	display: flex
	align-items: center
	justify-content: center
	font-family: $OS-SB
	font-style: normal
	font-weight: 600
	font-size: 15px
	line-height: 14px
	text-align: center
	color: #FFFFFF
	background: #F73859
	border-radius: 4px
	outline: none
	transition: 0.2s
	&:hover
		background: #F00A30
	&:active
		background: #D8304C
.advantages
	&-title
		display: block
		font-family: $OS-B
		font-size: 31px
		line-height: 36px
		letter-spacing: -0.03em
		color: #222222
	&-subtitle
		display: block
		width: 100%
		max-width: 648px
		font-family: $OS-R
		font-size: 15px
		line-height: 24px
		color: #7C7C7C
		margin-top: 16px
	&-boxes
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-top: 32px
	&-box
		width: 264px
		cursor: pointer
		&__image
			width: 264px
			height: 264px
			border: 1px solid #F0F0F0
			box-sizing: border-box
			border-radius: 4px
			overflow: hidden
			img
				transition: 1s ease-out
		// &:hover
		// 	.advantages-box__image img
		// 		transform: scale(1.1)
		span
			display: block
			font-family: $OS-B
			font-size: 16px
			line-height: 24px
			letter-spacing: -0.01em
			color: #222222
			margin-top: 8px
	&-blocks
		margin-top: 32px
	&-block
		display: flex
		justify-content: space-between
		background: #FFFFFF
		border: 1px solid #F0F0F0
		box-sizing: border-box
		border-radius: 4px
		margin-bottom: 24px
		&:last-child
			margin-bottom: 0
		&__text
			padding: 32px
			box-sizing: border-box
		&__title
			display: block
			font-family: $OS-B
			font-size: 22px
			line-height: 26px
			letter-spacing: -0.01em
			color: #222222
		&__subtitle
			display: block
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #7C7C7C
			margin-top: 16px
		&__image
			width: 552px
			flex: none
			img
				width: 100%
				height: 100%
				object-fit: cover
.products
	.products-color
		ul
			li
				label
					display: block
					width: 16px
					height: 16px
					border-radius: 50%
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	&-title
		display: block
		font-family: $OS-B
		font-size: 31px
		line-height: 36px
		letter-spacing: -0.03em
		color: #222222
	&-block
		display: flex
		justify-content: space-between
		margin-top: 32px
		&:nth-child(1n+2)
			margin-top: 24px
	&-box
		width: 264px
		height: 468px
		border: 1px solid #F0F0F0
		box-sizing: border-box
		border-radius: 4px
		padding: 24px
		transition: 0.2s
		position: relative
		&:hover
			box-shadow: 0 0 10px 5px #F5F5F5
		&__link
			position: absolute
			width: 100%
			height: 100%
		&__image
			width: 216px
			height: 216px
		&__info
			padding-top: 16px
	&-info
		&__title
			display: block
			font-family: $OS-SB !important
			font-weight: 600 !important
			font-size: 15px !important
			line-height: 20px !important
			color: #367BF5 !important
		&__subtitle
			display: block
			font-family: $OS-R
			font-size: 12px
			line-height: 18px
			color: #7C7C7C
			margin-top: 8px
		&__option
			height: 110px
		&__platform
			display: flex
			margin-top: 8px
		&__color
			display: flex
			margin-top: 8px
			span
				display: block
				font-family: $OS-R
				font-size: 11px
				line-height: 16px
				letter-spacing: 0.05em
				text-transform: uppercase
				color: #7C7C7C
				margin-right: 8px
		&__button
			width: 100px
			height: 30px
			margin-top: 12px
	&-platform
		margin-right: 8px
		&:last-child
			margin-right: 0
		input
			display: none
			&:checked + label
				border: 1px solid #367BF5
				span
					color: #367BF5
				path
					fill: #367BF5
		label
			display: flex
			align-items: center
			height: 24px
			border: 1px solid #F0F0F0
			box-sizing: border-box
			border-radius: 3px
			padding: 4px
			cursor: pointer
			transition: 0.2s
			&:hover
				border-color: #7c7c7c
		span
			display: block
			font-family: $OS-R
			font-size: 11px
			line-height: 16px
			letter-spacing: 0.05em
			text-transform: uppercase
			color: #7C7C7C
			&:first-child
				margin-right: 2px
	&-color
		ul
			display: flex
			list-style: none
			padding: 0
			li
				margin-right: 4px
				input
					display: none
					&:checked + label
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
						svg
							display: block
				label
					display: flex
					justify-content: center
					align-items: center
					width: 16px
					height: 16px
					border-radius: 50%
					cursor: pointer
					transition: 0.2s
					&:hover
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
					svg
						display: none
						width: 10px
						height: 10px
	&-price
		&__old
			display: block
			font-family: $OS-R
			font-size: 13px
			line-height: 16px
			text-decoration-line: line-through
			color: #7C7C7C
		&__new
			display: block
			font-family: $OS-B
			font-size: 18px
			line-height: 18px
			color: #222222
		&__sale
			margin-left: 8px
	&-middlebox
		display: flex
		width: 552px
		height: 288px
		background: #FFFFFF
		border: 1px solid #F0F0F0
		box-sizing: border-box
		border-radius: 4px
		padding: 24px
		transition: 0.2s
		position: relative
		&:hover
			box-shadow: 0 0 10px 5px #F5F5F5
		&__link
			position: absolute
			width: 100%
			height: 100%
		&__image
			width: 240px
			height: 240px
			margin-right: 24px
		&__info
		.products-info__option
			height: auto
		.products-info__price
			margin-top: 16px
	&-bigbox
		display: flex
		justify-content: space-between
		width: 100%
		height: 392px
		background: #FFFFFF
		border: 1px solid #F0F0F0
		box-sizing: border-box
		border-radius: 4px
		padding: 24px
		transition: 0.2s
		position: relative
		&:hover
			box-shadow: 0 0 10px 5px #F5F5F5
		&__link
			position: absolute
			width: 100%
			height: 100%
		&__subtitle
			width: 100%
			max-width: 502px
		&__title
			display: block
			font-family: $OS-B
			font-size: 22px
			line-height: 26px
			letter-spacing: -0.01em
			color: #367BF5
		&__stitle
			display: block
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #222222
			margin-top: 14px
		&__list
			list-style: none
			margin-top: 12px
		&__item
			padding-left: 20px
			margin-bottom: 8px
			position: relative
			&:before
				position: absolute
				content: ''
				top: 50%
				left: 0
				margin-top: -8px
				width: 16px
				height: 16px
				background: url('../img/red-dot.png') no-repeat 50% 50%
			&:last-child
				margin-bottom: 0
			span
				font-family: $OS-R
				font-size: 15px
				line-height: 18px
				color: #7C7C7C
		&__info
			display: flex
			flex-direction: column
			align-items: flex-end
		.products-info__price
			margin-top: 16px
.articles
	&-title
		display: block
		font-family: $OS-B
		font-size: 31px
		line-height: 36px
		letter-spacing: -0.03em
		color: #222222
	&-boxes
		display: flex
		flex-wrap: wrap
		padding: 32px 0 40px
	&-box
		width: 25%
		border-radius: 4px
		margin-bottom: 16px
		cursor: pointer
		&__image
			width: 264px
			height: 240px
			border-top-right-radius: 4px
			border-top-left-radius: 4px
			overflow: hidden
			img
				width: auto
				max-width: 100%
				height: 100%
				object-fit: contain
				transition: 1s ease-out
		&:hover
			.articles-box__image img
				transform: scale(1.1)
		&__info
			margin-top: 8px
		&__title
			display: block
			font-family: $OS-B
			font-size: 16px
			line-height: 24px
			letter-spacing: -0.01em
			color: #222222
		&__link
			display: inline-block
			font-family: $OS-R
			font-size: 15px
			line-height: 18px
			color: #367BF5
			box-sizing: border-box
			&:hover
				color: #0B55DB
				// border-bottom: 1px solid #367BF5
	&-btns
		text-align: center
	&-more
		display: inline-block
		text-align: center
		font-family: $OS-SB
		font-size: 15px
		line-height: 14px
		color: #7C7C7C
		border: 1px solid #F0F0F0
		box-sizing: border-box
		border-radius: 4px
		padding: 4px 8px
		transition: 0.2s
		svg
			transition: 0.2s
			vertical-align: middle
		span
			margin-left: 4px
			vertical-align: middle
		&:hover
			border-color: #7C7C7C
			svg
				transform: rotate(180deg)
.partners
	&-title
		display: block
		font-family: $OS-B
		font-size: 31px
		line-height: 36px
		letter-spacing: -0.03em
		color: #222222
		margin-bottom: 32px
	&-slide
		display: flex !important
		align-items: center
		justify-content: center
		width: 168px !important
		height: 168px
		background: #ffffff
		img
			width: 100%
			object-fit: cover
	.slick-arrow
		width: 40px
		height: 40px
		border-radius: 50%
		background: #FFFFFF
		border: 1px solid #F0F0F0
		box-sizing: border-box
		z-index: 1
		transition: 0.2s
		&:hover
			box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.16)
		&:active
			box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.24)
	.slick-prev
		background-image: url('../img/arrow.png')
		background-position: 50% 50%
		background-repeat: no-repeat
		transform: rotate(180deg)
		left: -20px
		margin-top: -20px
		&:before
			display: none
	.slick-next
		background-image: url('../img/arrow.png')
		background-position: 50% 50%
		background-repeat: no-repeat
		right: -20px
		&:before
			display: none
	.slick-slide
		height: 168px
		margin-right: 24px
.gallery
	&-title
		display: block
		font-family: $OS-B
		font-size: 31px
		line-height: 36px
		letter-spacing: -0.03em
		color: #222222
	&-tabs
		// display: flex
		// justify-content: space-between
		// flex-wrap: wrap
		padding-top: 24px
	&-box
		width: 360px
		min-height: 272px
		cursor: pointer
		&__image
			width: 360px
			height: 240px
			border-top-left-radius: 4px
			border-top-right-radius: 4px
			overflow: hidden
			position: relative
			img
				width: 100%
				height: 100%
				object-fit: cover
				transition: 1s ease-out
		&:hover
			.gallery-box__image img
				transform: scale(1.1)
		&:nth-child(1n+4)
			margin-top: 24px
		&__button
			position: absolute
			left: 16px
			bottom: 16px
			display: flex
			align-items: center
			font-family: $OS-SB
			font-size: 15px
			line-height: 14px
			color: #FFFFFF
			background: rgba(255, 255, 255, 0.3)
			// backdrop-filter: blur(16px)
			// -webkit-backdrop-filter: blur(16px)
			transition: 0.2s
			border-radius: 4px
			padding: 4px 8px
			svg
				margin-right: 4px
			&:hover
				background: rgba(255, 255, 255, 0.6)
		&__text
			padding-top: 8px
			span
				font-family: $OS-B
				font-size: 16px
				line-height: 24px
				letter-spacing: -0.01em
				color: #222222
	#tabs
		padding-top: 32px
		ul.ui-tabs-nav
			display: flex
			list-style: none
			li
				margin-right: 24px
				padding-bottom: 8px
				a
					font-family: $OS-SB
					font-size: 15px
					line-height: 16px
					text-align: center
					color: #7C7C7C
					padding-bottom: 6px
					box-sizing: border-box
					outline: none
					transition: 0.2s
					&:hover
						color: #000000
			.ui-tabs-active
				a
					color: #367BF5
					border-bottom: 2px solid #367BF5
					&:hover
						color: #367BF5
.tabs-slider
	width: 100%
	.slick-slide
		width: 382px
	.slick-arrow
		width: 40px
		height: 40px
		border-radius: 50%
		background: #FFFFFF
		border: 1px solid #F0F0F0
		box-sizing: border-box
		z-index: 1
		transition: 0.2s
		&:hover
			box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.16)
		&:active
			box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.24)
	.slick-prev
		background-image: url('../img/arrow.png')
		background-position: 50% 50%
		background-repeat: no-repeat
		transform: rotate(180deg)
		left: -20px
		margin-top: -20px
		&:before
			display: none
	.slick-next
		background-image: url('../img/arrow.png')
		background-position: 50% 50%
		background-repeat: no-repeat
		right: -20px
		&:before
			display: none
.breadcrumbs
	font-family: $OS-R
	font-size: 11px
	line-height: 16px
	color: #7C7C7C
	padding: 16px 0
	// border-bottom: 1px solid #F0F0F0
	a
		font-family: $OS-R
		font-size: 11px
		line-height: 16px
		color: #7C7C7C
		margin-right: 20px
		position: relative
		&:hover
			border-bottom: 1px solid #7C7C7C
		&:before
			position: absolute
			content: ''
			top: 6px
			right: -12px
			width: 4px
			height: 4px
			background: #7C7C7C
			border-radius: 50%

//Стили для страницы с карточкой товара
.product
	border-top: 1px solid #F0F0F0
	padding: 24px 0 56px
	&-main
		display: flex
	&-slider
		display: flex
		&__for
			width: 552px
			height: 552px
			margin-right: 24px
			.product-slider__slide
				img
					width: 100%
					object-fit: contain
		&__nav
			width: 72px
			padding: 80px 0
			margin-right: 24px
			.product-slider__slide
				border: 1px solid #F0F0F0
				border-radius: 4px
				overflow: hidden
				&:hover
					border: 1px solid #367BF5
			.slick-slide
				// width: 72px !important
				// height: 72px !important
				border: 1px solid #F0F0F0
				box-sizing: border-box
				border-radius: 4px
				overflow: hidden
				margin-bottom: 9px
				cursor: pointer
				transition: 0.2s
				// &:hover
				// 	border: 1px solid #367BF5
			.slick-current
				.product-slider__slide
					border: 1px solid #367BF5 !important
			.slick-arrow
				width: 40px
				height: 40px
				border-radius: 50%
				background: #FFFFFF
				border: 1px solid #F0F0F0
				box-sizing: border-box
				z-index: 1
				transition: 0.2s
				&:hover
					box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.16)
				&:active
					box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.24)
			.slick-prev
				background-image: url('../img/arrow.png')
				background-position: 50% 50%
				background-repeat: no-repeat
				transform: rotate(-90deg)
				top: 16px
				left: 50%
				margin-left: -20px
				// margin-top: -20px
				&:before
					display: none
			.slick-next
				background-image: url('../img/arrow.png')
				background-position: 50% 50%
				background-repeat: no-repeat
				transform: rotate(90deg)
				bottom: 26px
				left: 50%
				top: auto
				margin-left: -20px
				&:before
					display: none
			.slick-disabled
				display: none !important
		&__slide
			img
				width: auto
				max-width: 100%
				height: auto
				max-height: 100%
	&-info
		width: 100%
		&__title
			font-family: $OS-B
			font-size: 31px
			line-height: 36px
			letter-spacing: -0.03em
			color: #222222
		&__vendorcode
			margin-top: 8px
	&-title
		border-bottom: 1px solid #F0F0F0
		padding-bottom: 16px
	&-vendorcode
		&__text
			font-family: $OS-R
			font-size: 11px
			line-height: 16px
			letter-spacing: 0.05em
			text-transform: uppercase
			color: #7C7C7C
		&__code
			font-family: $OS-B
			font-size: 11px
			line-height: 16px
			color: #222222
			margin-left: 4px
	&-options
		padding: 16px 0
		border-bottom: 1px solid #F0F0F0
		&__check
			display: flex
			align-items: center
			font-family: $OS-B
			font-size: 11px
			line-height: 16px
			letter-spacing: 0.05em
			text-transform: uppercase
			color: #8BC34A
			margin-bottom: 8px
			svg
				margin-right: 4px
		.products-info__platform
			align-items: center
		&__platform
			font-family: $OS-R
			font-size: 11px
			line-height: 16px
			letter-spacing: 0.05em
			text-transform: uppercase
			color: #7C7C7C
			margin-right: 8px
	&-price
		padding: 16px 0
		.products-price__old
			font-size: 16px
			line-height: 16px
			svg
				width: 10px
				height: 10px
				margin-left: 2px
		.products-price__new
			font-size: 28px
			line-height: 28px
			margin-top: 4px
			svg
				width: 16px
				height: 16px
				margin-left: 2px
	&-buttons
		display: flex
		margin-bottom: 32px
		&__basket
			width: 122px
			height: 40px
			margin-right: 16px
		&__click
			font-family: $OS-SB
			font-size: 15px
			line-height: 14px
			display: flex
			align-items: center
			text-align: center
			color: #7C7C7C
			border: 1px solid #F0F0F0
			border-radius: 4px
			padding: 12px 22px 14px
			transition: 0.2s
			&:hover
				border-color: #7C7C7C
			&:active
				border-color: #367BF5
				color: #367BF5
	&-delivery
		padding: 16px
		background: #F9F9FB
		border-radius: 4px
		&__city
			display: block
			font-family: $OS-B
			font-size: 16px
			line-height: 24px
			letter-spacing: -0.01em
			color: #222222
			margin-bottom: 8px
		&__item
			display: flex
			justify-content: space-between
			margin: 0
	&-tab
		display: none
		&__link
			display: block
			width: 100%
			padding: 15px 0
			font-family: $OS-SB
			font-size: 16px
			line-height: 16px
			color: #7c7c7c
			position: relative
			span
				position: absolute
				width: 24px
				height: 24px
				top: 50%
				right: 0
				margin-top: -12px
				transition: 0.2s
		&__item
			border-bottom: 1px solid #F9F9FB
			.download__btn
				display: flex
				width: 50px
				flex: none
		&__active
			transform: rotate(180deg)
			transition: 0.2s
				
		&__content
			display: none
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #222222
			background: #F9F9FB
			border-radius: 4px
			padding: 24px
	&-item
		span
			display: block
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #222222
			background: #F9F9FB
			border-radius: 4px
			padding: 24px
		&__property
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #7C7C7C
			a
				border-bottom: 1px solid #367BF5
				color: #367BF5
				margin-left: 5px
				transition: 0.2s
				&:hover
					color: #0B55DB
		&__val
			font-family: $OS-SB
			font-size: 15px
			line-height: 24px
			color: #222222
	.main-feauture
		background: #F9F9FB
		border-radius: 4px
	.gallery-tabs
		padding-top: 0
	.main-gallery
		padding-bottom: 0
	&-tabs
		font-family: $OS-R
		font-size: 15px
		line-height: 24px
		color: #222222
		background: #F9F9FB
		border-radius: 4px
		padding: 24px
		&__parametr
			max-width: 550px
			font-family: $OS-SB
			font-size: 15px
			line-height: 24px
			color: #222222
			overflow: hidden
			margin: 0 0 8px 0
			position: relative
			&:after
				display: block
				overflow: hidden
				content: '.........................................................................................'
				white-space: nowrap
				color: #7C7C7C
			span
				&:first-child
					width: 45%
					float: left
					margin-right: 5px
				&:last-child
					width: 151px
					float: right
					margin-left: 5px
	&-like
		background: #F9F9FB
		padding: 40px 0 56px
		.products-box
			background: #ffffff
			transition: 0.2s
			&:hover
				border-color: #DDDDDD
		.products-info__title
			&:hover
				color: #0B55DB !important
				cursor: pointer
.not-available
	span
		font-family: $OS-B
		font-size: 11px
		line-height: 16px
		letter-spacing: 0.05em
		text-transform: uppercase
		color: #F73859
.reviews
	&__head
		display: flex
		justify-content: space-between
		align-items: center
	&__title
		font-family: $OS-B
		font-size: 22px
		line-height: 26px
		letter-spacing: -0.01em
		color: #000000
	&__btns
		a
			font-family: $OS-SB
			font-size: 15px
			line-height: 14px
			text-align: center
			color: #FFFFFF
			padding: 10px 20px
			background: #F73859
			border-radius: 4px
			margin-left: 16px
			transition: 0.2s
			&:hover
				background: #F00A30
			&:active
				background: #D8304C
	&__main
		padding-top: 24px
.review
	background: #ffffff
	padding: 24px
	border: 1px solid #F0F0F0
	border-radius: 4px
	margin-bottom: 8px
	&__person
		display: flex
		padding-bottom: 12px
		border-bottom: 1px solid #F0F0F0
	&__photo
		width: 50px
		height: 50px
		border-radius: 50%
		margin-right: 16px
		overflow: hidden
		img
			width: 100%
			object-fit: cover
	&__name
		display: block
		font-family: $OS-B
		font-size: 16px
		line-height: 24px
		letter-spacing: -0.01em
		color: #222222
	&__data
		display: block
		font-family: $OS-R
		font-size: 13px
		line-height: 16px
		color: #7C7C7C
		margin-bottom: 8px
	&__text
		padding: 8px 0 24px 66px
	&__title
		display: block
		font-family: $OS_SB
		font-size: 15px
		line-height: 24px
		color: #222222
	&__subtitle
		font-family: $OS-R
		font-size: 15px
		line-height: 24px
		color: #7C7C7C
	&__next
		font-family: $OS-R
		font-size: 15px
		line-height: 24px
		color: #367BF5
		transition: 0.2s
		&:hover
			color: #0B55DB
	&__answer
		padding-top: 30px
		margin-left: 66px
		border-top: 1px solid #F0F0F0
		.review__person
			border: none
		.review__info
			width: 100%
			border-bottom: 1px solid #F0F0F0
.download
	background: #ffffff
	padding: 24px
	&__item
		display: flex
		align-items: center
		margin-bottom: 16px
		&:last-child
			margin-bottom: 0
	&__btn
		display: flex
		justify-content: center
		align-items: center
		width: 50px
		height: 50px
		border-radius: 50%
		background: #367BF5
		margin-right: 16px
		transition: 0.2s
		&:hover
			background: #0B55DB
	&__text
		display: block
		font-family: $OS-B
		font-size: 16px
		line-height: 24px
		letter-spacing: -0.01em
		color: #222222
		span
			color: #367BF5

//Стили для страницы оптовым клиентам
.wholesaler
	padding: 40px 0 56px
	&-title
		display: block
		font-family: $OS-B
		font-size: 48px
		line-height: 48px
		color: #222222
	&-subtitle
		display: block
		width: 100%
		max-width: 830px
		font-family: $OS-R
		font-size: 18px
		line-height: 28px
		color: #222222
		margin: 24px 0 40px
	&-info
		background: #F9F9FB
		p
			display: flex
			padding: 16px 24px 24px
			border-bottom: 1px solid #F0F0F0
			margin: 0
			&:last-child
				border: none
		span
			display: block
		&__property
			width: 100%
			max-width: 334px
			font-family: $OS-B
			font-size: 16px
			line-height: 24px
			letter-spacing: -0.01em
			color: #222222
		&__val
			width: 100%
			max-width: 719px
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #222222
	&-partners
		background: #F9F9FB
.feedback
	&-title
		font-family: $OS-B
		font-size: 31px
		line-height: 36px
		letter-spacing: -0.03em
		color: #222222
	&-form
		display: flex
		padding-top: 32px
		&__block
			margin-right: 16px
			&:last-child
				width: 100%
				margin-right: 0
		&__input
			width: 359px
			margin-bottom: 16px
			position: relative
			&:last-child
				margin-bottom: 0
			input
				width: 100%
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #222222
				border: 2px solid #F0F0F0
				box-sizing: border-box
				border-radius: 4px
				padding: 16px
				outline: none
				transition: 0.2s
				&:hover
					border-color: #7C7C7C
				&:focus
					border: 2px solid #367BF5
					box-sizing: border-box
				&:focus + label
					font-size: 12px
					line-height: 12px
					top: -5px
					left: 13px
					padding: 0 3px
			label
				position: absolute
				height: 22px
				top: 20px
				left: 16px
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #BEBEBE
				background: #ffffff
				z-index: 1
				transition: 0.2s
		&__textarea
			width: 100%
			position: relative
			textarea
				width: 100%
				max-width: 753px
				min-width: 300px
				height: 100%
				min-height: 200px
				max-height: 200px
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #BEBEBE
				border: 2px solid #F0F0F0
				box-sizing: border-box
				border-radius: 4px
				padding: 16px
				outline: none
				transition: 0.2s
				&:hover
					border-color: #7C7C7C
				&:focus
					border: 2px solid #367BF5
					box-sizing: border-box
				&:focus + label
					font-size: 12px
					line-height: 12px
					top: -5px
					left: 13px
					padding: 0 3px
			label
				position: absolute
				height: 22px
				top: 20px
				left: 16px
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #BEBEBE
				background: #ffffff
				z-index: 1
				transition: 0.2s
	&-buttons
		width: 128px
		height: 30px
		margin: 40px auto 0

//Стили для страницы корзина
.basket
	padding: 40px 0 56px
	&-block
		display: flex
		justify-content: space-between
	&-title
		display: block
		font-family: $OS-B
		font-size: 48px
		line-height: 48px
		color: #222222
	&-main
		width: 100%
		max-width: 744px
		margin-top: 32px
		background: #F9F9FB
		border-radius: 4px
	&-products
		display: table
		width: 100%
	&-product
		display: table-row
		width: 100%
		background: #ffffff
		&__td
			display: table-cell
			vertical-align: middle
			border-top: 1px solid #F0F0F0
			border-bottom: 1px solid #F0F0F0
			padding: 24px 0
			&:first-child
				padding-left: 24px
				border-left: 1px solid #F0F0F0
				border-top-left-radius: 4px
				border-bottom-left-radius: 4px
			&:last-child
				padding-right: 20px
				border-right: 1px solid #F0F0F0
				border-top-right-radius: 4px
				border-bottom-right-radius: 4px
		&__sumT
			display: none
			font-family: $OS-R
			font-size: 11px
			line-height: 16px
			letter-spacing: 0.05em
			text-transform: uppercase
			color: #7C7C7C
		&__image
			width: 78px
			height: 74px
			img
				width: auto
				max-width: 100%
				height: auto
				max-height: 100%
		&__name
			width: 187px
			p
				margin: 0
		&__price
			font-family: $OS-R
			font-size: 13px
			line-height: 16px
			color: #7C7C7C
		&__availability
			display: flex
			align-items: center
			justify-content: center
			button
				width: 40px
				height: 40px
				border-radius: 50%
				border: 1px solid #F0F0F0
				outline: none
				cursor: pointer
				transition: 0.2s
				&:hover
					box-shadow: -8px 4px 8px rgba(0, 0, 0, 0.16)
			input
				width: 40px
				font-family: $OS-R
				font-size: 15px
				line-height: 24px
				text-align: center
				color: #222222
				border: none
				outline: none
		&__sum
			font-family: $OS-B
			font-size: 18px
			line-height: 18px
			color: #222222
	&-name
		&__property
			font-family: $OS-R
			font-size: 11px
			line-height: 16px
			letter-spacing: 0.05em
			text-transform: uppercase
			color: #7C7C7C
			margin-right: 4px
		&__val
			font-family: $OS-B
			font-size: 11px
			line-height: 16px
			color: #222222
		&__link
			font-family: $OS-B
			font-size: 16px
			line-height: 24px
			letter-spacing: -0.01em
			color: #222222
	&-availability
		&__minus
			background: url('../img/minus.png') no-repeat 50% 50% #ffffff
		&__plus
			background: url('../img/plus.png') no-repeat 50% 50% #ffffff
	&-form
		padding: 52px 24px 24px
		&__title
			display: block
			font-family: $OS-B
			font-size: 22px
			line-height: 26px
			letter-spacing: -0.01em
			color: #222222
			margin-bottom: 24px
		&__input
			position: relative
			margin-bottom: 16px
			&:last-child
				margin-bottom: 0
			input
				width: 100%
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #222222
				border: 2px solid #F0F0F0
				box-sizing: border-box
				border-radius: 4px
				padding: 16px
				outline: none
				transition: 0.2s
				&:hover
					border-color: #7C7C7C
				&:focus
					border: 2px solid #367BF5
					box-sizing: border-box
				&:focus + label
					font-size: 12px
					line-height: 12px
					top: -5px
					left: 13px
					padding: 0 3px
			label
				position: absolute
				height: 22px
				top: 20px
				left: 16px
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #BEBEBE
				background: #ffffff
				z-index: 1
				transition: 0.2s
		&__textarea
			margin-top: 16px
			position: relative
			textarea
				width: 100%
				max-width: 696px
				min-width: 300px
				min-height: 80px
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #BEBEBE
				border: 2px solid #F0F0F0
				box-sizing: border-box
				border-radius: 4px
				padding: 16px
				outline: none
				transition: 0.2s
				&:hover
					border-color: #7C7C7C
				&:focus
					border: 2px solid #367BF5
					box-sizing: border-box
				&:focus + label
					font-size: 12px
					line-height: 12px
					top: -5px
					left: 13px
					padding: 0 3px
			label
				position: absolute
				height: 22px
				top: 20px
				left: 16px
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #BEBEBE
				background: #ffffff
				z-index: 1
				transition: 0.2s
		&__boxes
			display: flex
			justify-content: space-between
		&__box
			width: 100%
			max-width: 340px
		&__pass
			padding: 24px 0 40px
		&__pay
			margin-top: 40px
		&__offer
			padding: 24px
			margin: 24px 0
			font-family: $OS-R
			font-size: 13px
			line-height: 20px
			color: #7C7C7C
			background: #ffffff
			a
				color: #367BF5
				transition: 0.2s
				&:hover
					color: #0B55DB
	&-pass
		&__title
			display: block
			font-family: $OS-R
			font-size: 15px
			line-height: 18px
			color: #7C7C7C
			margin: 0 0 16px
	&-delivery
		&__city
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #7C7C7C
			a
				color: #367BF5
				outline: none
				transition: 0.2s
				&:hover
					color: #0B55DB
		&__choice
			margin-top: 24px
		&__title
			display: block
			font-family: $OS-B
			font-size: 16px
			line-height: 24px
			letter-spacing: -0.01em
			color: #222222
			margin-bottom: 16px
		&__address
			margin-top: 24px
	&-choice
		margin-bottom: 12px
		&:last-child
			margin-bottom: 0
		input
			display: none
			&:checked + label
				color: #222222
				font-family: $OS-SB
				&:after
					display: block
				&:before
					display: none
		label
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #7C7C7C
			padding-left: 32px
			transition: 0.2s
			cursor: pointer
			position: relative
			&:before
				display: block
				position: absolute
				content: ''
				width: 24px
				height: 24px
				top: -2px
				left: 0
				background: #ffffff
				border: 1px solid #F0F0F0
				border-radius: 50%
				transition: 0.2s
			&:after
				display: none
				position: absolute
				content: ''
				width: 24px
				height: 24px
				top: -2px
				left: 0
				border-radius: 50%
				background: url('../img/Ellipse.png') no-repeat 50% 50% #367BF5
			&:hover
				color: #222222
				&:before
					border-color: #222222
					box-sizing: border-box
		span
			margin-left: 16px
			color: #222222
			opacity: 0.3
		&__description
			display: block
			font-family: $OS-SB
			font-size: 15px
			line-height: 24px
			color: #7C7C7C
			padding-left: 32px
			margin-left: 0 !important
	&-total
		width: 100%
		max-width: 360px
		height: max-content
		background: #F9F9FB
		border-radius: 4px
		padding: 24px
		margin-top: 32px
		&__title
			display: block
			font-family: $OS-B
			font-size: 22px
			line-height: 26px
			letter-spacing: -0.01em
			color: #222222
		&__promo
			margin: 16px 0
			position: relative
			input
				width: 100%
				height: 65px
				font-family: $OS-R
				font-size: 16px
				line-height: 16px
				color: #222222
				background: #FFFFFF
				border: 2px solid #F0F0F0
				box-sizing: border-box
				border-radius: 4px
				padding: 20px 78px 20px 16px
				outline: none
				transition: 0.2s
				&:hover
					border-color: #7C7C7C
				&:focus
					border: 2px solid #7C7C7C
				&:focus + a
					height: 66px
			a
				display: flex
				align-items: center
				justify-content: center
				position: absolute
				top: -1px
				right: -2px
				width: 66px
				height: 66px
				font-family: $OS-B
				font-size: 15px
				line-height: 14px
				color: #222222
				background: #F0F0F0
				border-top-right-radius: 4px
				border-bottom-right-radius: 4px
				transition: 0.2s
		p
			display: flex
			justify-content: space-between
			margin: 0
			font-size: 15px
			line-height: 24px
			span
				display: block
		&__property
			font-family: $OS-R
			color: #7C7C7C
		&__val
			display: block
			font-family: $OS-SB
			color: #222222
		&__sum
			font-family: $OS-B
			font-size: 22px
			line-height: 26px
			letter-spacing: -0.01em
			color: #222222
			margin-top: 16px
		&__btn
			width: 100%
			height: 40px
			margin-top: 16px
.lawyer
	display: block
	padding: 25px 0
	.basket-form__boxes
		margin-bottom: 16px
.non-active
	display: none
//Стили для страницы благодарности
.thanks
	padding: 40px 0 56px
	&-title
		display: block
		font-family: $OS-B
		font-size: 48px
		line-height: 48px
		color: #222222
	&-block
		display: flex
		padding: 24px
		margin-top: 32px
		background: #F9F9FB
		border-radius: 4px
		&__info
			width: 100%
			max-width: 554px
			padding-right: 24px
			p
				display: flex
				margin: 0
		&__status
			display: flex
			align-items: center
			justify-content: space-between
			padding: 24px
			background: #367BF5
			border-radius: 4px
	&-info
		&__property
			display: block
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #7C7C7C
			margin-right: 16px
		&__val
			display: block
			font-family: $OS-SB
			font-size: 15px
			line-height: 24px
			color: #222222
		&__text
			display: block
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #2c2c2c
			padding-top: 24px
			margin: 24px 0 16px
			border-top: 1px solid #F0F0F0
	&-status
		&__link
			width: 100%
			max-width: 304px
			font-family: $OS-B
			font-size: 22px
			line-height: 26px
			letter-spacing: -0.01em
			text-decoration-line: underline
			color: #FFFFFF
			transition: 0.2s
			&:hover
				text-decoration: none
.survey
	&__block
		margin-bottom: 8px
	&-box
		display: flex
		border-radius: 4px
		margin-bottom: 16px
		background: #ffffff
		&__image
			display: flex
			align-items: center
			justify-content: center
			width: 184px
			flex: none
			border-radius: 4px 0 0 4px
			overflow: hidden
			img
				width: 100%
				height: 100%
				object-fit: cover
		&__info
			width: 100%
			padding: 24px 24px 74px 24px
			border: 1px solid #F0F0F0
			position: relative
		&__title
			display: block
			font-family: $OS-B
			font-size: 22px
			line-height: 26px
			letter-spacing: -0.01em
			color: #222222
			margin-bottom: 12px
		&__subtitle
			font-family: $OS-R
			font-size: 15px
			line-height: 24px
			color: #7C7C7C
		&__link
			position: absolute
			bottom: 24px
			right: 24px
			display: flex
			justify-content: center
			align-items: center
			padding: 7px 24px 9px
			border: 1px solid rgba(247, 56, 89, 0.2)
			border-radius: 4px
			font-family: $OS-SB
			font-size: 15px
			line-height: 14px
			color: #F73859
			transition: 0.2s
			&:hover
				background: #F73859
				color: #ffffff
			&:active
				background: #D8304C
				color: #ffffff
	&-pagination
		display: flex
		align-items: center
		width: 228px
		margin: 0 auto
		&__item
			display: flex
			align-items: center
			justify-content: center
			width: 48px
			height: 48px
			font-family: $OS-B
			font-size: 16px
			line-height: 24px
			letter-spacing: -0.01em
			color: #222222
			background: #FFFFFF
			border: 1px solid #F0F0F0
			border-radius: 4px
			margin-right: 12px
			transition: 0.2s
			outline: none
			&:last-child
				margin-right: 0
			&:hover
				background: #F73859
				color: #ffffff
				path
					fill: #ffffff
			&:active
				background: #D8304C
				color: #ffffff
			
//Стили для 404 страницы
.error
	background: #F9F9FB
	border-radius: 4px
	padding: 40px 0 56px
	&-title
		display: block
		font-family: $OS-B
		font-size: 48px
		line-height: 48px
		color: #222222
		margin-bottom: 32px
	&-subtitle
		display: block
		width: 100%
		max-width: 441px
		font-family: $OS-R
		font-size: 15px
		line-height: 24px
		color: #000000
		margin-bottom: 32px
		a
			color: #367BF5
			text-decoration: underline
			&:hover
				text-decoration: none
	&-back
		display: block
		font-family: $OS-SB
		font-size: 15px
		line-height: 20px
		text-decoration-line: underline
		color: #367BF5
		margin-bottom: 16px
		&:hover
			text-decoration: none
		&:last-child
			margin-bottom: 0
// .succsess
// 	input
// 		border: 2px solid #367BF5
.errors
	input
		border: 2px solid #F73859
	&:before
		position: absolute
		content: url('../img/error.png')
		top: 50%
		right: 16px
		transform: translateY(-50%)

@media (max-width: 1200px)
	.advantages
		&-boxes
			justify-content: space-around
		&-box
			width: 50%
			text-align: center
			&__image
				margin: 0 auto
			&:nth-child(1n+3)
				margin-top: 24px
	.products
		&-block
			flex-wrap: wrap
		&-middlebox
			margin: 0 auto 24px
			&:last-child
				margin-bottom: 0
	.basket
		&-main
			max-width: 580px
			margin-right: 16px
		&-form
			&__box
				margin-right: 16px
				&:last-child
					margin-right: 0
				
@media (max-width: 1111px)
	.products
		&-box
			margin-bottom: 24px
			&:last-child
				margin-bottom: 0
	.articles
		&-box
			width: 33%

@media (max-width: 1100px)
	.product
		&-main
			flex-direction: column

@media (max-width: 992px)
	.main
		overflow-x: hidden
	.advantages
		&-block
			width: 100%
			max-width: 552px
			flex-direction: column
			margin: 0 auto 24px
	.products
		&-box
			margin-bottom: 24px
			&:last-child
				margin-bottom: 0
	.articles
		&-box
			margin-bottom: 24px
	.gallery
		&-box
			margin-bottom: 24px
			&:nth-child(1n+4)
				margin-top: 0
	.basket
		&-title
			text-align: center
		&-block
			flex-direction: column
		&-main
			max-width: 768px
			margin-left: auto
			margin-right: auto
		&-total
			max-width: 768px
			margin: 0 auto
	.thanks
		&-block
			flex-direction: column
			&__status
				margin-top: 24px
@media (max-width: 870px)
	.articles
		&-box
			width: 50%
			&__image
				margin: 0 auto
			&__info
				text-align: center
			
@media (max-width: 768px)
	.slide
		&-box
			left: 50%
			margin-left: -225px
	.main
		&-feautures
			&__block
				flex-direction: column
				align-items: center
		&-feauture
			max-width: 100%
	.advantages
		&-title
			text-align: center
		&-subtitle
			max-width: 100%
			text-align: center
		&-boxes
			flex-direction: column
			align-items: center
		&-box
			width: 100%
			&:nth-child(1n+2)
				margin-top: 24px
	.products
		&-title
			text-align: center
		&-bigbox
			flex-direction: column
			height: max-content
			&__image
				display: flex
				justify-content: center
	.articles
		&-title
			text-align: center
		&-boxes
			flex-direction: column
			align-items: center
	.partners
		&-title
			text-align: center
	.gallery 
		&-title
			text-align: center
		#tabs 
			ul
				// justify-content: center
				overflow-x: scroll
				li
					white-space: nowrap
		&-tabs
			flex-direction: column
			align-items: center
	.product
		&-slider
			flex-direction: column-reverse
			align-items: center
			&__slide
				width: 72px
				margin: auto
			&__for
				margin-right: 0
				.product-slider__slide
					width: 80% !important
				.slick-slide
					div
						display: flex
			&__nav
				width: 100%
				max-width: 580px
				margin-right: 0
				padding: 20px 80px
				.slick-arrow
					width: 30px
					height: 30px
					top: 50%
					margin-top: -15px
				.slick-prev
					right: auto
					left: 0
					margin-left: 0
					transform: rotate(180deg)
				.slick-next
					left: auto
					right: 0
					margin-left: 0
					transform: rotate(0deg)
				.slick-slide
					margin-bottom: 0
					margin-right: 9px
				.slick-list
					width: 70%
					margin: 0 auto
		&-tab
			display: block
		.main-gallery
			display: none
	.wholesaler
		&-title
			font-size: 32px
			text-align: center
		&-subtitle
			font-size: 16px
			text-align: center
	.feedback
		&-title
			display: block
			font-size: 24px
			text-align: center
		&-form
			flex-direction: column
			&__block
				margin-right: 0
				margin-bottom: 16px
				&:last-child
					margin-bottom: 0
			&__input
				width: 100%
	.thanks
		&-title
			font-size: 28px
			text-align: center
		&-block
			&__status
				flex-direction: column
				a
					text-align: center
					margin-bottom: 24px
	.error
		&-title
			font-size: 28px
@media (max-width: 580px) 
	.slide
		&-box
			width: 300px
			padding: 16px
			margin-left: -150px
			h2
				font-size: 28px
				margin-bottom: 0
			p
				font-size: 12px
	.advantages
		&-title
			font-size: 25px
		&-block
			&__image
				width: 100%
				height: auto
				img
					width: auto
					max-width: 100%
					height: auto
	.products
		&-title
			font-size: 25px
		&-block
			justify-content: center
		&-box
			width: 100%
			display: flex
			flex-direction: column
			&__image
				width: 100%
				text-align: center
				margin-right: 0
				img
					width: auto
					max-width: 100%
		&-middlebox
			flex-direction: column
			width: 100%
			height: max-content
			&__image
				width: 100%
				text-align: center
				margin-right: 0
				img
					width: auto
					max-width: 100%
		&-bigbox
			&__image
				img
					width: auto
					max-width: 100%
	.articles
		&-title
			font-size: 25px
		&-box
			width: 100%
			&__image
				width: 100%
				img
					width: 100%
	.partners
		&-title
			font-size: 25px
		.slick-prev
			left: 10px
		.slick-next
			right: 10px
	.gallery
		&-title
			font-size: 25px
		&-tabs
			flex-wrap: nowrap
		&-box
			width: 100%
			min-height: auto
			&__image
				width: 100%
				img
					width: 100%
		#tabs
			ul
				flex-direction: column
				align-items: center
				li
					margin-right: 0 !important
					margin-bottom: 10px
	.tabs-slider
		width: 100%
		.slick-slide
			width: 304px
			padding: 0 15px
		.slick-arrow
			top: 50%
		.slick-next
			right: 0
		.slick-prev
			left: 0
	.main
		&-products
			padding-bottom: 0
		&-gallery
			padding-bottom: 30px
	.product
		&-slider
			&__for
				width: 100%
				max-width: 552px
			&__nav
				padding: 15px 0
		&-item
			&__property
				font-size: 13px
			&__val
				font-size: 13px
	.basket
		padding-top: 15px
		&-title
			font-size: 28px
		&-product
			display: flex
			width: 100%
			height: 217px
			position: relative
			border: 1px solid #F0F0F0
			border-radius: 4px
			margin-bottom: 8px
			&__image
				margin-right: 8px
			&__name
				width: 100%
				max-width: 250px
			&__priceM
				position: absolute
				top: 75px
				left: 0
				white-space: nowrap
			&__count
				position: absolute
				top: 99px
				left: 0
			&__sumT
				display: inline-block
			&__summ
				position: absolute
				width: 100%
				top: 163px
				left: 0
				border-top: 1px solid #F0F0F0 !important
				white-space: nowrap
				padding: 13px 16px
			&__delete
				position: absolute
				top: 8px
				right: 8px
			&__td
				display: block
				border: none
				padding: 16px !important
				&:first-child
					border: none
				&:last-child
					border: none
		&-form
			&__boxes
				flex-direction: column
			&__box
				margin-right: 0
				margin-bottom: 16px
				&:last-child
					margin-bottom: 0
			label
				font-size: 14px

		&-choice
			label
				display: block
			span
				display: block
		&-total
			&__promo
				input
					font-size: 14px
					&:focus + a
						height: 62px
				a
					height: 58px
	.survey
		&-box
			&__image
				display: none